.ad1-main {
  border-width: 1px;
  border-style: ridge;
  background-image: url("../../public/beach.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 3px 3px 3px 22px  rgba(254, 254, 255, 0.2);
  border-radius: 8;
  padding: 4%;
  position: relative;
  top: 20%;
}

.ad1-main:hover {
  scale: 1.1;
}

.ad1-01 {
 display: inline-block;
  text-align: start;
  color: rgb(255, 0, 242);
  font-size: 44px;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -10px;
  right: 80px;
  
  text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;

  transform: perspective(500px) rotateX(1deg) rotateY(44deg) rotateZ(-10deg);
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  background-color: rgba(0, 0, 0, 0.2);
}
.ad1-01:hover {
  scale: 1.2;
  cursor:default; ;
}
@media screen and (max-width: 768px) {
  .ad1-01 {
    font-size: 22px;
    right: 0px;
  }
}


.ad1-btn {
  display: inline-block;
  text-align: start;
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  border-radius: 8px;
  position: relative;


}
