body {
  // background-image: url("../../public/moss.jpg");
  background-color: rgb(105, 104, 104);
}

.menu-div-main {
  width: 80%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translateX(-50%) perspective(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);

  box-shadow: 40px 40px 40px rgba(35, 35, 35, 0.7);
}

.logo-div {
  position: relative;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

@import "Progress";
@import "Navbar";
@import "3dEnvironment";
@import "Ads";

// .canvas-container {
//     border: '1px solid black';
//      width: '70%';
//      height: '70vh';
//      left: '15%';
//      position: 'absolute'
//   }

//   @media (max-width: 768px) {
//     .canvas-container {
//       width: 80%;
//       left: 30%;
//     }
//   }

//   @media (max-width: 480px) {
//     .canvas-container {
//       width: 90%;
//       left: 30%;
//     }
//   }
