body {
  // background-image: url("../../public/moss.jpg");
  background-color: rgb(2, 0, 28);
}

@import "Home";
@import "HomeProgress";
@import "KeyframesBardModal";
@import "KeyframesHeyYouModal";
@import "KeyframesHome";
@import "KeyframesKrispyModal";
@import "KeyframesProjects";
@import "KeyframesThisPortfolioModal";
@import "KeyframesWhackaModal";
@import "Projects";
@import "ProjectsBardModal";
@import "ProjectsHeyYouModal";
@import "ProjectsKrispyModal";
@import "ProjectsThisPortfolioModal";
@import "ProjectsWhackaModal"; 
@import "ScrollBar";
@import "ThreeDeeResume";


// .canvas-container {
//     border: '1px solid black';
//      width: '70%';
//      height: '70vh';
//      left: '15%';
//      position: 'absolute'
//   }

//   @media (max-width: 768px) {
//     .canvas-container {
//       width: 80%;
//       left: 30%;
//     }
//   }

//   @media (max-width: 480px) {
//     .canvas-container {
//       width: 90%;
//       left: 30%;
//     }
//   }
