.red-text {
  color: red;
}

.highlighter-green-text {
  color: rgb(132, 255, 0);
}

.blue-text {
  color: blue;
}

.yellow-text {
  color: yellow;
}

.pink-text {
  color: pink;
}

.violet-text {
  color: violet;
}

.orange-text {
  color: orange;
}

.api-text {
  font-family: "Playfair Display", serif;
  font-style: normal;
  color: rgb(255, 251, 0);
}

.bold-text {
  font-weight: 900;
}
