.red-text {
    color: red;
}

.highlighter-green-text {
    color: rgb(132, 255, 0);
}

.blue-text {
    color: blue;
}

.yellow-text {
    color: yellow;
}

.pink-text {
    color: pink;
}

.violet-text {
    color: violet;
}

.bold-text {
    font-weight: 900;
}