.progress-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.progress-info {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

/*.progress-image {
  width: 80%;
  max-width: 500px;
  height: auto;
  transition: filter 0.5s ease-in-out;
  filter: brightness(0%);
}

@keyframes loadingText {
  0% {
    scale: .5;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: .5;
  }
}*/
.progress-text, .progress-percentage {
  font-family: "Bangers", serif;
  font-size: 5vw;
  font-weight: 100;
  font-style: normal;
  color: snow;
  text-shadow: black 1px 1px 3px;
  text-align: center;
  letter-spacing: 1vw;
  /* animation: loadingText 7s ease-in-out forwards infinite;*/
}


// .progress-percentage {
//   width: 5em;
//   text-align: left;
// }
