

.menu-div-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  // grid-template-columns: auto;
  gap: 20px;
  width: 80%;
  height: 80%;
  background-color: snow;
  border-radius: 55px;
  border: solid 2px rgb(0, 38, 255);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 100px rgb(0, 128, 255);
  animation: menuPageBgStartUp 22s ease-in-out forwards;
}

.contact-div {
  gap: 11px;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  grid-column: 4 / 6;
  grid-row: 2 / 2;
  width: 100%;
  height: 100%;
  z-index: 2;
  // transform: translate(40%, 0%);
  animation: contactsStartUp 22s ease-in-out forwards;
}

.linkedin,
.github,
.gmail {
  position: relative;
  left: 50%;
  top: 33%;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 122%;
  letter-spacing: 2px;
  text-shadow: 0px 0px 0 #000000, 0px 0px 0 #000000, 0px 0px 0 #000000,
    0px 0px 0 #000000;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.linkedin::before {
  content: "";
  position: absolute;
  // top: 50%;
  // left: 50%;
  width: 6%;
  height: 2%;
  border-radius: 22px;
  background-color: rgb(255, 242, 0);
  transform: translate(0%, 0%) scale(0);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.linkedin:hover::before {
  transform: translate(-26%, 10%) scale(1) skew(20deg);
}

.logo-div,
.menu-items,
.bio-div-main,
.full-stack-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-div-main {
  grid-column: 5 / 7;
    grid-row: 4 / 7;
  justify-content: start;
  position: absolute;
  // top: 40%;
  font-size: 20px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  z-index: 2;

  animation: bioStartUp 22s ease-in-out forwards;
}

.logo-div {
  grid-column: 1 / 5;
  grid-row: 4 / 8;
  animation: logoStartUp 15s ease-in-out forwards;
}
.menu-items {
  grid-column: 7 / 10;
  flex-direction: column;
  grid-row: 4 / 8;
  animation: menuItemsStartUp 30s ease-in-out forwards;
  position: relative;
  left: 15%;
}

.full-stack-div {
  // position: relative;
  // top: 50%;
  // left: 50%;
  // width: 20%;
  // height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 33px;
  grid-column: 10;
  grid-row: 5 / 7;
  text-wrap: nowrap;
  transform: rotate(-90deg);

  animation: fullStackStartUp 10s ease-in-out forwards;
}

.projects-title-div,
.pdfResume-title-div,
.threeResume-title-div {
  // position: absolute;
  // display: block;
  text-align: center;
  color: snow;
  font-size: 66px;
  border-radius: 8px;
  padding: 0px;
  margin: 10px 0px;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
  // transform: perspective(200px) rotateX(0deg) rotateY(1deg) rotateZ(0deg);
  // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  // background-color: rgb(0, 255, 242);
  // border: 2px dashed rgb(0, 0, 0);
  // font-family: "Zeyada", cursive;
  // font-weight: 60;
  // font-style: normal;
  // font-size: 44px;
  // font-family: "EB Garamond", serif;
  // font-optical-sizing: auto;
  // font-weight: 100;
  // font-style: normal;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  // letter-spacing: 2px;

  // transition: transform 2s ease, letter-spacing 2s ease-in-out;
  cursor: pointer;
  transform-origin: center;
  // transform: perspective(100px);
  width: 100%;
}

.projects-title-div {
  animation: projectsStartUp 5s ease-in-out forwards,
    letterspacing 10s ease-in-out infinite;
}

.pdfResume-title-div {
  animation: projectsStartUp 10s ease-in-out forwards,
    letterspacing 10s ease-in-out infinite;
}

.threeResume-title-div {
  animation: projectsStartUp 15s ease-in-out forwards,
    letterspacing 10s ease-in-out infinite;
}

.projects-title-div:hover,
.pdfResume-title-div:hover,
.threeResume-title-div:hover {
  // transform: rotateY(33deg) 15s ease-in-out perspective(700px);
  transform: rotateY(33deg) 15s ease-in-out;

  color: gold;
  // font-family: "Zeyada", cursive;
  // font-weight: 400;
  // font-style: normal;
  // text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
  //   3px 3px 0 #000000;
}

.threeResume-title-div:hover {
  color: #000000;
  text-shadow: -20px -20px 0 #fb0000, 20px -20px 0 #4dff00, -20px 20px 0 #04ff00,
    30px 30px 0 #ff0000;

  transform: rotateY(55deg) skew(60deg);
}

.projects-title-div::before {
  content: "";
  position: absolute;
  // top: 50%;
  // left: 50%;
  width: 70%;
  height: 22%;
  border-radius: 22px;
  background-color: rgb(255, 0, 0);
  transform: translate(-33%, -22%) scale(0);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.projects-title-div:hover::before {
  transform: translate(-26%, -22%) scale(0.5) rotate(360deg) skew(20deg);
}
