.progress-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.progress-image {
  width: 80%;
  max-width: 500px;
  height: auto;
  transition: filter 0.5s ease-in-out;
  filter: brightness(0%);
}

.progress-text {
  font-family: "Bodoni Moda SC", serif;
  font-size: 5vw;
  font-weight: 100;
  font-style: normal;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: black 1px 1px 3px;
  text-align: center;
}
