.progress-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.progress-image {
  width: 80%;
  max-width: 500px;
  height: auto;
  transition: filter 0.5s ease-in-out;
  filter: brightness(0%);
}

@keyframes loadingText {
  0% {
    scale: .5;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: .5;
  }
}
.progress-text {
  font-family: "Bodoni Moda SC", serif;
  font-size: 5vw;
  font-weight: 100;
  font-style: normal;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: black 1px 1px 3px;
  text-align: center;
  animation: loadingText 7s ease-in-out forwards infinite;
}
