/*==========================
HEADER
============================*/

@keyframes bardModalHeaderStartup {
    0% {
      transform: translate(-700px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  /*==========================
  STAGE CURTAINS
  ============================*/

  @keyframes stageLeftCurtain {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(0px, -700px);
 
    }
  }

  @keyframes honors {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    
    }
    100% {
      opacity: 0;
      
 
    }
  }
