@keyframes thisPortfolioModalHeaderStartup {
    0% {
      transform: translate(-700px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes designOne {
    0% {
      scale: 1;
      transform: translate(0vw, 0vh);
    }
    50% {
      scale: 4;
      transform: translate(-5vw, -2vh);
    }
    100% {
      scale: 1 ;
      transform: translate(0vw, 0vh);
    }
  }

  @keyframes designTwo {
    0% {
      transform: rotateY(0deg) rotateX(89deg);
    }
    100% {
      transform: rotateY(360deg) rotateX(89deg);
    }
  }

  @keyframes designThree {
    0% {
      transform: rotateZ(0deg) rotateX(89deg);
    }
    100% {
      transform: rotateZ(360deg) rotateX(89deg);
    }
  }