@keyframes heyYouModalHeaderStartup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heyYouModalTitleStartup {
  0% {
    transform: translate(300px, 0px);
    color: rgb(92, 92, 92);
  }

  100% {
    transform: translate(0px, 0px);
    color: rgb(255, 255, 255);
  }
}

@keyframes heyYouModalMainTitleStartup {
  0% {
    opacity: 0;

  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes heyYouModalHeaderSubTextStartup {
  0% {
    transform: translate(0px, -700px);
  }
  50% {
    transform: translate(0px, 0px);
    background-color: rgb(0, 0, 0);
  }

  100% {
    transform: translate(400px, 0px);
  }
}

@keyframes heyYouModalBodyStartup {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes heyYouModalInfoStartup {
  0% {
    transform: translate(0px, -800px);
  }
  100% {
    transform: translate(0px, 700px);
  }
}

@keyframes jsHeyYouModalLogoCyclical {
  0% {
    transform: translate(-30px, 0px);
  }
  // 25% {
  //   transform: translate(-35px, 0px);
  // }
  50% {
    transform: translate(300px, 0px);
  }
  // 75% {
  //   transform: translate(0px, 0px);
  // }
  100% {
    transform: translate(-30px, 0px);
  }
}

@keyframes heyYouModalFooterStartup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
