@keyframes krispyModalMainDivStartupScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*=================
HEADER
==================*/

@keyframes krispyModalHeaderStartup {
  0% {
    transform: translate(0px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes krispyModalBodyStartup {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*=================
BODY
==================*/

@keyframes krispyModalSubHeaderStartup {
  0% {
    transform: translate(0px, -200px);
  }
  100% {
    transform: translate(0px, 10px);
  }
}

@keyframes krispyModalInfoStartup {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes krispyModalHeaderSlideInLeft {
  0% {
    transform: translate(-100%, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes krispyModalBtnStartup {
  0% {
    transform: scale(0.5);
  }

  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes imageFadeInAndOutCyclic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reactLogoSpin {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
/*=================
FOOTER
==================*/

@keyframes krispyModalFooterStartup {
  0% {
    transform: translate(0px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
