.whacka-modal-header,
.krispy-modal-header,
.hey-you-modal-header,
.bard-modal-header,
.kanban-modal-header,
.this-portfolio-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 5vh;
  z-index: 22;
}

.whacka-modal-header .modal-title,
.whacka-modal-header-text-two,
.whacka-modal-header .btn-close,
.krispy-modal-header .modal-title,
.krispy-modal-header-text-two,
.krispy-modal-header .btn-close,
.hey-you-modal-header .modal-title,
.hey-you-modal-header-text-two,
.hey-you-modal-header .btn-close,
.bard-modal-header .modal-title,
.bard-modal-header-text-two,
.bard-modal-header .btn-close,
.this-portfolio-modal-header .modal-title,
.kanban-modal-header .modal-title,
.kanban-modal-header .btn-close,
.this-portfolio-modal-header-text-two,
.this-portfolio-modal-header .btn-close {
  display: flex;
  align-items: center;
}
.whacka-modal-header .modal-title,
.krispy-modal-header .modal-title,
.hey-you-modal-header .modal-title,
.bard-modal-header .modal-title,
.kanban-modal-header .modal-title,
.this-portfolio-modal-header .modal-title {
  font-size: 45px;
  margin-left: 20vw;
}
.whacka-modal-header .btn-close,
.krispy-modal-header .btn-close,
.hey-you-modal-header .btn-close,
.bard-modal-header .btn-close,
.kanban-modal-header .btn-close,
.this-portfolio-modal-header .btn-close {
  width: 0.5vw;
  height: 0.5vw;
  margin-right: 20vw;
  padding: 10px;
}



/*WHACKA*/

.whacka-modal-header {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  border: rgb(0, 0, 0) 1px solid;
}

.whacka-modal-header .modal-title {
  color: rgb(0, 255, 255);
  text-shadow: black 0px 1px 2px;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  animation: WhackaModalHeaderStartup 5s ease-in-out forwards;
}
.whacka-modal-header-text-two {
  color: rgb(0, 255, 255);
  text-shadow: black 0px 1px 2px;
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
  animation: whackaTextTwo 6s ease-in-out forwards;
  margin: 15px;
  font-size: 30px;
  text-wrap: nowrap;
}

.whacka-modal-header .btn-close {
  background-color: rgb(255, 255, 255);
}

/*KRISPY*/

.krispy-modal-header {
  background-color: gold;
  border: solid 1px rgb(0, 0, 0);
  animation: krispyModalHeaderStartup 5s ease;
}

.krispy-modal-header .modal-title {
  color: rgb(255, 137, 214);
  text-shadow: black 0px 1px 2px;
  font-family: "roboto", system-ui;
  font-weight: 900;
  font-style: normal;
  animation: krispyModalHeaderSlideInLeft 5s ease-in-out;
}
.krispy-modal-header-text-two {
  margin: 15px;
  font-size: 22px;
  text-wrap: nowrap;
  color: rgb(12, 12, 12);
  text-shadow: black 0px 1px 2px;
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
  animation: krispyModalHeaderSlideInLeft 5s ease-in-out;
}

.krispy-modal-header .btn-close {
  background-color: rgb(255, 255, 255);
}

/*HEY YOU*/

.hey-you-modal-header {
  background-color: rgb(255, 255, 255);
  animation: heyYouModalHeaderStartup 5s ease-in-out forwards;
}
.hey-you-modal-header .modal-title {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(0, 8, 255);
  animation: heyYouModalTitleStartup 5s ease-in-out forwards;
}

.hey-you-modal-header-text-two {
  margin: 15px;
  font-size: 22px;
  text-wrap: nowrap;
  color: rgb(0, 8, 255);
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
  animation: heyYouModalTitleStartup 5s ease-in-out forwards;
}
.hey-you-modal-header .btn-close {
  background-color: rgb(255, 255, 255);
}




/*BARD*/

.bard-modal-header {
  background-color: rgb(12, 0, 31);
  border: solid 1px rgb(0, 0, 0);
}
.bard-modal-header .modal-title {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  text-shadow: rgb(255, 255, 255) 0px 0px 1px;
}
.bard-modal-header-text-two {
  margin: 15px;
  font-size: 22px;
  text-wrap: nowrap;
  color: rgb(255, 255, 255);
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
}
.bard-modal-header .btn-close {
  background-color: rgb(255, 255, 255);
}

/*kanban*/
.kanban-modal-header {
  background-color: blue;
  border: solid 1px red;
}

.kanban-modal-header .modal-title {
  font-size: 40px;
  color: whitesmoke;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.kanban-modal-header-text-two {
  font-size: 30px;
  margin-left: 20px;
}

.kanban-modal-header .btn-close {
  background-color: white;
  margin-left: 12px;
}


/*this portfolio*/

.this-portfolio-modal-header {
  background-color: #7f0909;
  border: solid 1px rgb(0, 0, 0);
  animation: thisPortfolioModalHeader 2s ease-in-out reverse;
}
.this-portfolio-modal-header .modal-title {
  color: rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.this-portfolio-modal-header .btn-close {
  scale: 1;
  background-color: rgb(255, 255, 255);
  grid-column: 3;
  grid-row: 1 / 3;
}
@media (max-width: 1000px) {
  .whacka-modal-header .modal-title,
  .krispy-modal-header .modal-title,
  .hey-you-modal-header .modal-title,
  .bard-modal-header .modal-title,
  .kanban-modal-header .modal-title,
  .this-portfolio-modal-header .modal-title {
    font-size: 30px;
    text-wrap: nowrap;
  }
}
@media (max-width: 500px) {
  .whacka-modal-header .modal-title,
  .krispy-modal-header .modal-title,
  .hey-you-modal-header .modal-title,
  .bard-modal-header .modal-title,
  .kanban-modal-header .modal-title,
  .this-portfolio-modal-header .modal-title {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .whacka-modal-header .btn-close,
  .krispy-modal-header .btn-close,
  .hey-you-modal-header .btn-close,
  .bard-modal-header .btn-close,
  .kanban-modal-header .btn-close,
  .this-portfolio-modal-header .btn-close {
    width: 0.2vw;
    height: 0.2vw;
  }
}
@media (max-height: 700px) {
  .whacka-modal-header .modal-title,
  .krispy-modal-header .modal-title,
  .hey-you-modal-header .modal-title,
  .bard-modal-header .modal-title,
  .kanban-modal-header .modal-title,
  .this-portfolio-modal-header .modal-title {
    font-size: 20px;
    text-wrap: nowrap;
  }
}

@media (max-width: 300px) {
  .whacka-modal-header .modal-title,
  .krispy-modal-header .modal-title,
  .hey-you-modal-header .modal-title,
  .bard-modal-header .modal-title,
  .kanban-modal-header .modal-title,
  .this-portfolio-modal-header .modal-title {
    font-size: 15px;
    text-wrap: nowrap;
  }
}
@media (max-height: 800px) and (orientation: landscape) {
  .whacka-modal-header .modal-title,
  .krispy-modal-header .modal-title,
  .hey-you-modal-header .modal-title,
  .bard-modal-header .modal-title,
  .kanban-modal-header .modal-title,
  .this-portfolio-modal-header .modal-title {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .whacka-modal-header .btn-close,
  .krispy-modal-header .btn-close,
  .hey-you-modal-header .btn-close,
  .bard-modal-header .btn-close,
  .kanban-modal-header .btn-close,
  .this-portfolio-modal-header .btn-close {
    width: 0.2vw;
    height: 0.2vw;
  }
}

@media (max-width: 700px) {
  .hey-you-modal-header .modal-title {

    font-size: 1rem;
  }
  
  .hey-you-modal-header-text-two,
  .kanban-modal-header-text-two {
    font-size: 0.7rem;
  }
  .hey-you-modal-header .btn-close {
    scale: .5;
  }
}

@media (max-width: 750px) {
  .whacka-modal-header-text-two {
    font-size: 15px;
    margin: 15px;
  }
}