.whacka-modal-footer,
.krispy-modal-footer,
.hey-you-modal-footer,
.bard-modal-footer,
.this-portfolio-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1vw;
  height: 5vh;
  width: 100vw;
  z-index: 100;
}

.whacka-modal-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  font-family: "Press Start 2P", system-ui;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: 200;
}

/*=================
  Whacka
  ===================*/

.whacka-modal-footer {
  background-color: rgb(255, 0, 0);
  border: solid 0.1vw rgb(0, 0, 0);
  animation: whackaFooterBody 2s ease;
}

.modal-close-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}
.whacka-play-btn {
  background-color: rgb(25, 125, 255);
}

.whacka-modal-github-btn {
  background-color: rgb(255, 242, 0);
}
@keyframes whackaPlay {
  0% {
    background-color: rgb(0, 42, 255);
  }
  50% {
    background-color: rgb(0, 255, 55);
  }
  100% {
    background-color: rgb(208, 255, 0);
  }
}

.whacka-play-btn {
  animation: whackaPlay 7s ease-in-out infinite;
}

/*=================
  Krispy
  ===================*/
.krispy-modal-footer {
  background-color: gold;
  border: solid 1px rgb(0, 0, 0);
  z-index: 5;
  animation: krispyModalFooterStartup 7s ease;
}

.krispy-modal-footer button {
  animation: krispyModalBtnStartup 7s ease-in-out;
}

.krispy-modal-close-btn {
  background-color: rgb(110, 5, 5);
  color: rgb(255, 0, 0);
}

.krispy-site-btn {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.krispy-modal-github-btn {
  background-color: rgb(16, 0, 61);
  color: rgb(255, 255, 255);
}

.krispy-modal-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  font-family: "Roboto", system-ui;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 300;
}
/*=================
  Hey You

  ===================*/
.hey-you-modal-footer {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
  box-shadow: rgb(0, 106, 255) 0px 0px 20px;
  animation: heyYouModalFooterStartup 5s ease-in-out forwards;
}
.hey-you-modal-footer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  font-family: "Raleway", system-ui;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.hey-you-request-apk-btn,
.hey-you-modal-github-btn,
.hey-you-modal-close-btn {
  background-color: rgba(211, 211, 211, 0.735);
  color: rgb(0, 0, 0);
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
}

/*=================
  Bard

  ===================*/
.bard-modal-footer {
  background-color: rgb(12, 0, 31);
  border: solid 1px rgb(0, 0, 0);
}

.bard-modal-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  font-family: "Playfair Display", system-ui;
  letter-spacing: 1px;
  border: solid 1px rgb(0, 0, 0);
  font-weight: 400;
}

.bard-modal-close-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}

.bard-apk-download-btn {
  background-color: rgb(122, 35, 0);
  color: whitesmoke;
}

.bard-modal-github-btn {
  background-color: rgb(91, 0, 0);

  color: rgb(255, 255, 255);
}

/* this portfolio
*/

.this-portfolio-modal-footer {
  background-color: #ffc500;
  border: solid 1px rgb(0, 0, 0);
  animation: thisPortfolioModalHeader 3s ease-in-out;
}

.this-portfolio-modal-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  font-family: "Cinzel", system-ui;
  letter-spacing: 1px;
  border: solid 1px rgb(0, 0, 0);
  font-weight: 700;
}

.this-portfolio-site-btn,
.this-portfolio-modal-github-btn,
.this-portfolio-modal-close-btn {
  background-color: #7f0909;

  color: snow;
}

@media (max-width: 1000px) {
  .whacka-modal-footer,
  .krispy-modal-footer,
  .hey-you-modal-footer,
  .bard-modal-footer,
  .this-portfolio-modal-footer {
    gap: 50px;
  }
  .whacka-modal-footer button,
  .krispy-modal-footer button,
  .hey-you-modal-footer button,
  .bard-modal-footer button,
  .this-portfolio-modal-footer button {
    width: 22vw;
  }
}
@media (max-width: 700px) {
  .whacka-modal-footer,
  .krispy-modal-footer,
  .hey-you-modal-footer,
  .bard-modal-footer,
  .this-portfolio-modal-footer {
    gap: 0px;
  }
  .whacka-modal-footer button,
  .krispy-modal-footer button,
  .hey-you-modal-footer button,
  .bard-modal-footer button,
  .this-portfolio-modal-footer button {
    width: 25vw;
    font-size: 22px;
  }
}

@media (max-width: 300px) {
  .whacka-modal-footer button,
  .krispy-modal-footer button,
  .hey-you-modal-footer button,
  .bard-modal-footer button,
  .this-portfolio-modal-footer button {
    font-size: 30px;
  }
}

@media (max-height: 750px) {
  .whacka-modal-footer button,
  .krispy-modal-footer button,
  .hey-you-modal-footer button,
  .bard-modal-footer button,
  .this-portfolio-modal-footer button {
    height: 3vh;
    font-size: 12px;
  }
}

.whacka-modal-footer button:hover,
.krispy-modal-footer button:hover,
.hey-you-modal-footer button:hover,
.bard-modal-footer button:hover,
.this-portfolio-modal-footer button:hover {
  scale: 1.1;
}

.krispy-modal-footer button:hover {
  color: red;
  font-weight: 700;
}

.krispy-site-btn:hover {
  background-color: rgb(8, 0, 255);
}
