/* ================================== *

               MAIN GRID         
/* ================================== */

.projects-div-main {
  display: grid;
  grid-template-areas: 
  'a'
  'b'
  'c'
  'd'
  'e'
  'f'
  'g'
  'h'

  ;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(8, auto);
  width: auto;
  height: auto;
  background-color: rgb(0, 0, 0);
  animation: projectsPageBgStartUp 5s ease-in-out forwards;
  overflow-x: hidden;
  overflow-y: hidden;

}

.parallax-container {
  background-color: rgb(0, 0, 0);
}

/* ================================== *
  NAVBAR
/* ================================== */


.nav-div-main {
  display: grid;
  grid-template-areas: 
  'home resume pro info im name'
  ;

  width: 100%;
  grid-template-columns: repeat(5, auto);
  z-index: 50;
  // border-radius: 53px 53px 0px 0px;
  background-color: rgb(0, 15, 82);
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  animation: navDivStartup 3s ease-in-out;

}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn,
.nav-linkedin-btn,
.nav-github-btn,
.nav-gmail-btn,
.social-container,
.profile-div-main,
.image-div-main  {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn {
  font-size: 2vw;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: 0.3s ease-in-out;
}

.profile-image {
  cursor: pointer;
}
.nav-home-btn:hover,
.nav-resume-btn:hover,
.nav-three-dee-resume-btn:hover,
.nav-gmail-btn:hover,
.nav-linkedin-btn:hover,
.nav-github-btn:hover,
.profile-image:hover {
  scale: 1.2;
}

.nav-home-btn {
 grid-area: home;
}
.nav-resume-btn {
  grid-area: resume;
}

.nav-three-dee-resume-btn {
  grid-area: pro
}

.social-container {
  grid-area: info;
  flex-direction: row;
}

.nav-gmail-btn,
.nav-linkedin-btn,
.nav-github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}


.profile-div-main {
 grid-area: name;
}
.image-div-main {
  grid-area: im;
  padding: 1vw;
}
.profile-image {
  width: 5vw;
  height: auto;
  border-radius: 50%;
  margin-right: 2vw;
}

.profile-div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.ibrahim-karim,
.location,
.phone {
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: default;
}

/* ================================== *
  PROJECTS
/* ================================== */


.whacka-div-main,
.bard-div-main,
.krispy-div-main,
.hey-you-div-main,
.this-portfolio-div-main,
.kanban-div-main {
  display: grid;
  grid-template-areas: 
  'title'
  'tech'
  'des'
  ;
  // grid-template-columns: 30vw 40vw 30vw;
  // height: 40vh;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.whacka-div-main {
  grid-area: b;
  pointer-events: auto;
  background-color: rgb(255, 0, 0);
  animation: projectDivStartup 1s ease-in-out forwards;
}

.whacka-div-main:hover,
.bard-div-main:hover,
.krispy-div-main:hover,
.hey-you-div-main:hover,
.this-portfolio-div-main:hover,
.kanban-div-main:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.397) 0px 0px 10px 10px;
  z-index: 22;
}

.krispy-div-main {
  grid-area: c;
  background-color: rgb(31, 0, 80);
  animation: projectDivStartup 2s ease-in-out forwards;
}

.hey-you-div-main {
  grid-area: d;
  background-color: rgb(0, 139, 139);
  animation: projectDivStartup 3s ease-in-out forwards;
}

.bard-div-main {
  grid-area: e;
  background-color: rgb(107, 7, 0);
  animation: projectDivStartup 4s ease-in-out forwards;
}

.kanban-div-main {
  grid-area: f;
  background-color: rgb(0, 41, 108);
  animation: projectDivStartup 2s ease-in-out forwards;
  
}
.this-portfolio-div-main {
  grid-area: g;
  background-color: rgb(0, 17, 255);
  animation: projectDivStartup 5s ease-in-out forwards;
}


.whacka-text,
.whacka-description-text,
.krispy-text,
.krispy-description-text,
.hey-you-text,
.hey-you-description-text,
.bard-text,
.bard-description-text,
.this-portfolio-text,
.this-portfolio-description-text,
.kanban-text,
.kanban-description-text {
  text-wrap: nowrap;
}

.whacka-software-text-container,
.krispy-software-text-container,
.hey-you-software-text-container,
.bard-software-text-container,
.this-portfolio-software-text-container,
.kanban-software-text-container {
  grid-area: tech;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
  text-wrap: nowrap;
}

.whacka-js,
.whacka-html,
.whacka-scss,
.krispy-js,
.krispy-react,
.krispy-firebase,
.krispy-redux,
.krispy-bootstrap,
.krispy-scss,
.hey-you-js,
.hey-you-react,
.hey-you-socketio,
.hey-you-mongodb,
.hey-you-nodejs,
.hey-you-docker,
.hey-you-googlecloud,
.bard-js,
.bard-react-native,
.bard-redux,
.bard-firebase,
.bard-firestore,
.this-portfolio-js,
.this-portfolio-react,
.this-portfolio-react-fiber,
.this-portfolio-firebase,
.this-portfolio-scss,
.this-portfolio-blender,
.kanban-js,
.kanban-react,
.kanban-scss,
.kanban-firebase,
.kanban-firestore {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.whacka-description-text,
.krispy-description-text,
.hey-you-description-text,
.bard-description-text,
.this-portfolio-description-text,
.kanban-description-text {
  grid-area: des;
  font-size: 10vw;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.whacka-text {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.whacka-text,
.krispy-text,
.hey-you-text,
.bard-text,
.this-portfolio-text,
.kanban-text {
  grid-area: title;
  font-size: 10vw;
  color: snow;
}

.krispy-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

.hey-you-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bard-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.this-portfolio-text {
  color: rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.kanban-text {
  font-family: "Cinzel", serif;
  font-weight: 400;
}


/*=========
FOOTER
=========*/

.footer-div-main {
  width: 100%;
  height: 20vh;
  grid-area: h;
  display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  z-index: 25;
  border-radius: 0px 0px 53px 53px;
  background-color: rgba(0, 15, 82, 0.774);
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  animation: navDivStartup 2s ease-in-out;
}

.projects-copyright-container {
  // grid-column: 1 / -1;
  // grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright-text {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



/*========
MEDIA QUERIES
========*/

@media (max-width: 1400px) {
  .nav-div-main {
    grid-template-areas: 
    'home home home home home'
    'resume resume resume resume resume'
    'pro pro pro pro pro'
    'info info info info info'
    'name name name name name'
    'im im im im im'

    ;
  }
  .ibrahim-karim,
.location,
.phone,
.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn,
.nav-gmail-btn,
.nav-linkedin-btn,
.nav-github-btn
{
  font-size: 5vw;
}

.profile-image {
  width: 12vw;
}
}