.kanban-modal-main {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c'
        'd'
    ;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, 1fr);
    overflow-x: hidden;
}


.kanban-js,
.kanban-sass,
.kanban-react,
.kanban-firebase,
.kanban-firestore,
.kanban-react-section,
.kanban-react-section-title,
.kanban-react-section-paragraph,
.kanban-js-section,
.kanban-js-section-title,
.kanban-js-section-paragraph,
.kanban-firebase-section,
.kanban-firebase-section-title,
.kanban-firebase-section-paragraph,
.kanban-firestore-section,
.kanban-firestore-section-title,
.kanban-firestore-section-paragraph,
.kanban-sass-section,
.kanban-sass-section-title,
.kanban-sass-section-paragraph,
.kanban-js-board,
.kanban-react-code,
.kanban-react-two-code,
.kanban-firebase-code,
.kanban-firebase-login-code,
.kanban-firestore-code,
.kanban-sass1-code,
.kanban-sass2-code,
.kanban-sass3-code
 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.kanban-software {
    grid-area: a;
    display: grid;
    grid-template-areas:
        'a b c d e'
    ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    // background-color: aliceblue;
    width: 100vw;
    padding: 100px;
}

.kanban-js {
    grid-area: a;
    width: 150px;
}

.kanban-sass {
    grid-area: b;
    width: 220px;
}

.kanban-react {
    grid-area: c;
    width: 210px;
}

.kanban-firebase {
    grid-area: d;
    width: 150px;
}

.kanban-firestore {
    grid-area: e;
    width: 175px;
}

.kanban-react-section,
.kanban-js-section,
.kanban-firebase-section,
.kanban-firestore-section,
.kanban-sass-section {
    flex-direction: column;
}

.kanban-react-section-title,
.kanban-js-section-title,
.kanban-firebase-section-title,
.kanban-firestore-section-title,
.kanban-sass-section-title {
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: black 0px 0px 1px;
    
}

.kanban-react-section-title {
    color: aqua;
}

.kanban-js-section-title {
    color: gold;

}

.kanban-firestore-section-title,
.kanban-firebase-section-title {
    color: orangered;
 
}

.kanban-sass-section-title {
    color: hotpink;
}

.kanban-react-section-paragraph,
.kanban-js-section-paragraph,
.kanban-firebase-section-paragraph,
.kanban-firestore-section-paragraph,
.kanban-sass-section-paragraph {
    font-size: 30px;
    padding: 100px;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    // text-shadow: rgb(255, 255, 255) 1px 0px 1px;
}

.kanban-react-code,
.kanban-react-two-code,
.kanban-js-code,
.kanban-react-code,
.kanban-firebase-code,
.kanban-firestore-code,
.kanban-sass1-code,
.kanban-sass2-code,
.kanban-sass3-code {
    width: 100vw;
    padding: 100px;
    border-radius: 22px;
}
.kanban-firebase-login-code {
    width: 100vw;
    padding: 100px;
    border-radius: 22px;
}

@media (max-width: 1110px) {
    .kanban-software {
        grid-template-areas:
            'a'
            'b'
            'c'
            'd'
            'e'
        ;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding: 50px;
        width: 100vw;

    }

    .kanban-js {
        width: 100px;
    }

    .kanban-sass {
        width: 129px;
    }

    .kanban-react {
        width: 129px;
    }

    .kanban-firebase {
        width: 80px;
    }

    .kanban-firestore {
        width: 95px;
    }
    .kanban-react-section-title,
.kanban-js-section-title,
.kanban-firebase-section-title,
.kanban-firestore-section-title,
.kanban-sass-section-title {
    font-size: 30px;
}

.kanban-react-section-paragraph,
.kanban-js-section-paragraph,
.kanban-firebase-section-paragraph,
.kanban-firestore-section-paragraph,
.kanban-sass-section-paragraph {
    font-size: 20px;
    padding: 30px;
    overflow-wrap: break-word;
   
}
}