/*==========================
        BODY MAIN 
        main flex contaienr
============================*/

.bard-modal-body-main {
  background-color: rgb(23, 7, 0);
  box-shadow: rgb(0, 0, 0) 0px 0px 60px 70px inset,
    rgb(100, 0, 0) 0px -50px 60px 70px inset;
  padding-top: 0px;
}

.bard-modal-main-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/*==========================
        PAGE ONE
          curtain grid 
============================*/

.bard-modal-intro-page-one-container {
  order: 1;
  flex: 0 0 auto;
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgb(0, 0, 0);
  z-index: 20;
  transform-style: preserve-3d;
  transform: perspective(100px);
}

/*==========================
  CURTAIN grid
============================*/

.curtain-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: rgb(255, 0, 0);
  box-shadow: rgb(255, 0, 0) 0px 0px 10px 10px;
  background-blend-mode: multiply;
  animation: stageCurtain ease-in-out 5s forwards;
}

.bard-modal-intro-text-container,
.curtain-shadow-two-container,
.curtain-shadow-three-container,
.curtain-shadow-four-container,
.curtain-shadow-five-container,
.curtain-shadow-six-container,
.curtain-shadow-seven-container,
.curtain-shadow-eight-container,
.curtain-shadow-nine-container,
.curtain-shadow-ten-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curtain-shadow-one,
.curtain-shadow-two,
.curtain-shadow-three,
.curtain-shadow-four,
.curtain-shadow-five,
.curtain-shadow-six,
.curtain-shadow-seven,
.curtain-shadow-eight,
.curtain-shadow-nine,
.curtain-shadow-ten {
  padding: 0vh 0vw 150vh 0vh;
}

.curtain-shadow-one-container {
  grid-column: 1;
  grid-row: 1 / 2;
}

.curtain-shadow-one {
  background-color: rgb(27, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.849) 0px 0px 60px 70px;
  width: 0.01vw;
}

.curtain-shadow-two-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.curtain-shadow-two {
  background-color: rgba(0, 0, 0, 0.84);
  box-shadow: rgba(0, 0, 0, 0.849) 0px 0px 60px 70px;
}

.curtain-shadow-three-container {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.curtain-shadow-three {
  box-shadow: rgba(0, 0, 0, 0.689) 0px 0px 60px 70px;
  background-color: rgba(0, 0, 0, 0.685);
}

.curtain-shadow-four-container {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.curtain-shadow-four {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-five-container {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}

.curtain-shadow-five {
  background-color: rgba(0, 0, 0, 0.781);
  box-shadow: rgba(0, 0, 0, 0.781) 0px 0px 60px 70px;
}

.curtain-shadow-six-container {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.curtain-shadow-six {
  background-color: rgba(0, 0, 0, 0.667);
  box-shadow: rgba(0, 0, 0, 0.667) 0px 0px 60px 70px;
}

.curtain-shadow-seven-container {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}

.curtain-shadow-seven {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-eight-container {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
}

.curtain-shadow-eight {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-nine-container {
  grid-column: 8 / 10;
  grid-row: 1 / 2;
}

.curtain-shadow-nine {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-ten-container {
  grid-column: 10;
  grid-row: 1 / 2;
}

.curtain-shadow-ten {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 60px 70px;
}

@media (max-width: 1250px) {
  .curtain-shadow-one,
  .curtain-shadow-two,
  .curtain-shadow-three,
  .curtain-shadow-four,
  .curtain-shadow-five,
  .curtain-shadow-six,
  .curtain-shadow-seven,
  .curtain-shadow-eight,
  .curtain-shadow-nine,
  .curtain-shadow-ten {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 40px 40px;
  }
}
@media (max-width: 750px) {
  .curtain-shadow-one,
  .curtain-shadow-two,
  .curtain-shadow-three,
  .curtain-shadow-four,
  .curtain-shadow-five,
  .curtain-shadow-six,
  .curtain-shadow-seven,
  .curtain-shadow-eight,
  .curtain-shadow-nine,
  .curtain-shadow-ten {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 30px 30px;
  }
}
@media (max-width: 550px) {
  .curtain-shadow-one,
  .curtain-shadow-two,
  .curtain-shadow-three,
  .curtain-shadow-four,
  .curtain-shadow-five,
  .curtain-shadow-six,
  .curtain-shadow-seven,
  .curtain-shadow-eight,
  .curtain-shadow-nine,
  .curtain-shadow-ten {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 20px;
  }
}
@media (max-width: 375px) {
  .curtain-shadow-one,
  .curtain-shadow-two,
  .curtain-shadow-three,
  .curtain-shadow-four,
  .curtain-shadow-five,
  .curtain-shadow-six,
  .curtain-shadow-seven,
  .curtain-shadow-eight,
  .curtain-shadow-nine,
  .curtain-shadow-ten {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 10px;
  }
}

/*==========================
        PAGE 2
        grid 
/*==========================*/

.bard-modal-page-two-container {
  order: 2;
  flex: 0 0 auto;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  background-color: rgb(0, 0, 0);
  padding: 20vh 0vw 50vh 0vw;
}

.bard-honors-award-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 5;
  color: snow;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 38px;
  text-wrap: nowrap;
  transform: rotate(-90deg);
  animation: honors 10s linear infinite;
}

.bard-modal-intro-text-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 4;
}

.bard-modal-intro-text {
  color: rgb(163, 163, 163);
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;

  font-weight: 100;
  font-style: normal;
  text-align: justify;
  line-height: 1.5;
  hyphens: auto;

  padding: 0vh 20vw 0vh 20vw;
  z-index: 4;
}

.online-course-animation {
  animation: onlineCourse 5s linear 10s infinite;
}

.shakespeare {
  animation: shakespeare 22s cubic-bezier(0.075, 0.82, 0.165, 1) 10s infinite;
}

.shakespeareTwo {
  animation: shakespeare 22s cubic-bezier(0.175, 0.885, 0.32, 5) 8s infinite
    reverse;
}

/*==========================
        PAGE 3  
        grid
/*==========================*/

.bard-modal-page-three-container {
  order: 3;
  flex: 0 0 auto;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  background-color: rgb(255, 255, 255);
}

.bard-react-native-container,
.phone-bard-home-container,
.phone-bard-profile-container,
.phone-bard-side-menu-container,
.phone-bard-course-container,
.phone-bard-quiz-container,
.phone-bard-quiz-one-container,
.phone-bard-medals-container,
.phone-bard-synopsis-container,
.phone-bard-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bard-react-native-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 5vh 0vh 5vh 0vh;
}

.bard-react-native-logo {
  width: 10vw;
  height: auto;
}

.phone-bard-side-menu,
.phone-bard-home,
.phone-bard-profile,
.phone-bard-course,
.phone-bard-quiz,
.phone-bard-quiz-one,
.phone-bard-medals,
.phone-bard-synopsis,
.phone-bard-info {
  width: 50vw;
  height: auto;
  object-fit: contain;
}

.phone-bard-home-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.phone-bard-side-menu-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.phone-bard-profile-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.phone-bard-course-container {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.phone-bard-quiz-container {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.phone-bard-quiz-one-container {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.phone-bard-medals-container {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.phone-bard-synopsis-container {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.phone-bard-info-container {
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}

/*==========================
        PAGE 4
        grid
/*==========================*/

.bard-modal-page-four-container {
  order: 4;
  flex: 0 0 auto;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: rgb(255, 8, 0);
}

.bard-modal-intro,
.bard-modal-intro-top,
.bard-modal-folger-logo-container,
.bard-modal-mit-logo-container,
.bard-modal-mit-text-container,
.bard-modal-folger-text-container,
.bard-modal-api-title-container,
.mit-slice-container,
.folger-slice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bard-modal-api-title-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  z-index: 40;
}

.bard-modal-api-title {
  color: rgb(255, 255, 255);
  font-size: 40vw;
  font-family: "Bodoni Moda SC", serif;
  text-shadow: black 1px 1px 3px;
  font-weight: 100;
  font-style: normal;
  padding: 5vw;
}

.bard-modal-folger-logo-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(35deg);
}

.bard-modal-folger-text-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.bard-modal-mit-logo-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(-25deg) rotateX(15deg) rotateZ(2deg);
}

.bard-modal-mit-text-container {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.mit-logo,
.folger-logo {
  width: 30vw;
  height: auto;
  border-radius: 22px;
}

.bard-modal-folger-text,
.bard-modal-mit-text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 38px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
  text-shadow: black 1px 1px 2px;
  line-height: 1.4;
  padding: 5vh 10vw 5vh 10vw;
  z-index: 10;
}

.mit-slice-container {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.folger-slice-container {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.mit-slice {
  width: 44vw;
  height: auto;
}

.folger-slice {
  width: 43.5vw;
  height: auto;
}

.folger-slice {
  width: 40vw;
  height: auto;
}

@media (max-width: 1000px) {
  .folger-slice,
  .mit-slice {
    width: 100vw;
  }

  .bard-modal-folger-text-container {
    grid-column: 1 / 3;
  }

  .folger-slice-container {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .bard-modal-mit-text-container {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding: 1vh 0vw 1vh 0vw;
  }

  .mit-slice-container {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }
}

/*==========================
        PAGE 5
        grid
/*==========================*/

.bard-modal-page-five-container {
  order: 5;
  flex: 0 0 auto;
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color: rgb(152, 152, 151);
  border: solid 1px rgb(0, 0, 0);
}

.bard-modal-firebase-text-container,
.bard-modal-firebase-logo-container,
.bard-modal-firestore-logo-container,
.bard-modal-redux-container,
.bard-sign-up-container,
.bard-login-container,
.bard-modal-user-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bard-modal-user-title-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 5vh 0vw 5vh 0vw;
}
.bard-modal-user-title {
  color: rgb(255, 255, 255);
  font-size: 20vw;
  font-family: "Bodoni Moda SC", serif;
  text-shadow: black 1px 1px 3px;
  font-weight: 100;
  font-style: normal;
}

.bard-modal-firebase-text-container {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.bard-modal-firebase-text {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: "Ubuntu", sans-serif;
  text-shadow: black 1px 1px 2px;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
  line-height: 1.4;
  hyphens: auto;
  padding: 0vh 9vw 0vh 8vw;
}

.bard-modal-firebase-logo-container {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding-right: 25vw;
  padding-top: 4vh;
}

.bard-modal-firebase-logo {
  width: 10vw;
  height: auto;
}
.bard-modal-firestore-logo {
  width: 4vw;
  height: auto;
}
.bard-modal-redux {
  width: 7vw;
  height: auto;
}

.bard-modal-redux-container {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.bard-modal-firestore-logo-container {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding-left: 18vw;
}

.bard-sign-up-container {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.bard-login-container {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  padding-top: 5vh;
}

.bard-login {
  width: 80vw;
  height: auto;
}
.bard-sign-up {
  padding-top: 5vh;
  width: 80vw;
  height: auto;
}

/*==========================
        PAGE 6
        grid
/*==========================*/

.bard-modal-page-six-container {
  order: 6;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, auto);
  background-color: rgb(255, 255, 255);
}

.bard-modal-features-text-one-container,
.bard-modal-features-text-two-container,
.bard-modal-features-text-three-container,
.main-features-title-container,
.plays-root-container,
.quiz-code-container,
.medals-code-container,
.certificate-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.main-features-title-container {
  grid-row: 1 / 2;
  padding-top: 5vh;
}

.main-features-title {
  font-size: 20vw;
  font-family: "Bodoni Moda SC", serif;
  text-shadow: black 1px 1px 2px;
  font-weight: 100;
  color: rgb(0, 0, 0);
}

.bard-modal-features-text-one,
.bard-modal-features-text-two,
.bard-modal-features-text-three,
.plays-root-container,
.medals-code-container,
.quiz-code-container,
.certificate-code-container {
  font-size: 33px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  color: rgb(0, 0, 0);
  line-height: 1.4;
  hyphens: auto;
}

.bard-modal-features-text-one-container {
  grid-row: 2 / 3;
  transform: translate(0px, 20px);
  padding: 5vh 22vw 15vh 22vw;
}

.plays-root-container {
  grid-row: 3 / 4;
}
.plays-root {
  width: 30vw;
  height: auto;
  transform: perspective(1000px) rotateX(-20deg);
}

.bard-modal-features-text-two-container {
  grid-row: 4 / 5;
  padding: 5vh 22vw 6vh 22vw;
}

.quiz-code-container {
  grid-row: 5 / 6;
}

.quiz-code {
  width: 25vw;
  height: auto;
}

.bard-modal-features-text-three-container {
  grid-row: 6 / 7;
  padding: 7vh 22vw 7vh 22vw;
}

.medals-code-container {
  grid-row: 7 / 8;
}

.medals-code {
  width: 30vw;
  height: auto;
}

.certificate-code-container {
  grid-column: 1 / -1;
  grid-row: 9 / 10;
  padding-bottom: 5vh;
}

.certificate-code {
  width: 40vw;
  height: auto;
  transform: perspective(1000px) rotateX(20deg);
}

@media (max-width: 1400px) {
  .plays-root,
  .quiz-code,
  .medals-code,
  .certificate-code {
    width: 100vw;
    height: auto;
    transform: none;
  }

  .certificate-code-container {
    padding-top: 7vh;
    padding-bottom: 0vh;
  }
}

/*==========================
        PAGE 7
        grid
/*==========================*/

.bard-modal-page-seven-container {
  order: 7;
  flex: 0 0 auto;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(0, 30, 255);
  border: solid 1px rgb(0, 0, 0);
}

.additional-features-title-container,
.bard-modal-additional-features-text-one-container,
.bard-modal-additional-features-text-two-container,
.bard-modal-additional-features-text-three-container,
.free-folger-container,
.free-synopsis-container,
.read-folger-container,
.phone-bard-performance-container,
.phone-bard-how-to-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-features-title-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 5vh 0vw 5vh 0vw;
}

.additional-features-title {
  font-size: 12vw;
  font-family: "Bodoni Moda SC", serif;
  text-shadow: black 1px 1px 1px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.bard-modal-additional-features-text-one-container {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 5vh 22vw 10vh 22vw;
}

.free-folger-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  z-index: 5;
  transform: perspective(800px) rotateY(20deg);
}

.free-synopsis-container {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  transform: perspective(4000px) rotateX(-20deg);
}

.read-folger-container {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  transform: perspective(4000px) rotateY(-20deg);
}

.free-folger,
.free-synopsis,
.read-folger {
  width: 40vw;
  height: auto;
}

.bard-modal-additional-features-text-two-container {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  padding: 5vh 22vw 5vh 22vw;
}

.bard-modal-additional-features-text-one,
.bard-modal-additional-features-text-two {
  font-size: 33px;
  text-align: justify;
  font-family: "Ubuntu", serif;
  font-weight: 200;
  line-height: 1.4;
  hyphens: auto;

  color: rgb(255, 255, 255);
}

.phone-bard-performance-container {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  z-index: 5;
}

.phone-bard-how-to-container {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
.phone-bard-how-to,
.phone-bard-performance {
  width: 50vw;
  height: auto;
}

@media (max-width: 1400px) {
  .free-folger-container,
  .free-synopsis-container,
  .read-folger-container {
    transform: none;
  }

  .free-synopsis {
    padding-right: 2vw;
  }
  .free-folger {
    padding-bottom: 8vw;
  }

  .free-folger,
  .free-synopsis,
  .read-folger {
    width: 50vw;
    height: auto;
  }
}

/*==========================
        PAGE 8
        grid
/*==========================*/

.bard-modal-page-eight-container {
  order: 8;
  flex: 0 0 auto;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(43, 5, 73);
  border: solid 1px rgb(0, 0, 0);
}

.bard-modal-honors-title-container,
.bard-modal-honors-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bard-modal-honors-title-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.bard-modal-honors-title {
  font-size: 10vw;
  font-family: "Bodoni Moda SC", serif;
  text-shadow: rgb(0, 0, 0) 5px 0px 1px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-shadow: black 1px 1px 4px;
  padding: 5vh 0vw 5vh 0vw;
}

.bard-modal-honors-video-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.bard-modal-honors-video {
  width: 50vw;
  height: 50vh;
}

@media (max-width: 1800px) {
  .bard-modal-additional-features-text-one,
  .bard-modal-additional-features-text-two,
  .bard-modal-firebase-text,
  .bard-modal-intro-text,
  .bard-modal-folger-text,
  .bard-modal-mit-text {
    font-size: 30px;
  }
  .bard-honors-award-text-container {
    font-size: 30px;
  }
}

@media (max-width: 1400px) {
  .bard-modal-additional-features-text-one,
  .bard-modal-additional-features-text-two,
  .bard-modal-features-text-one,
  .bard-modal-features-text-two,
  .bard-modal-features-text-three,
  .bard-modal-firebase-text,
  .bard-modal-intro-text,
  .bard-modal-folger-text,
  .bard-honors-award-text-container,
  .bard-modal-mit-text {
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  .bard-modal-additional-features-text-one,
  .bard-modal-additional-features-text-two,
  .bard-modal-features-text-one,
  .bard-modal-features-text-two,
  .bard-modal-features-text-three,
  .bard-modal-firebase-text,
  .bard-modal-intro-text,
  .bard-modal-folger-text,
  .bard-modal-mit-text {
    font-size: 20px;
  }
  .bard-honors-award-text-container {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .bard-modal-additional-features-text-one,
  .bard-modal-additional-features-text-two,
  .bard-modal-features-text-one,
  .bard-modal-features-text-two,
  .bard-modal-features-text-three,
  .bard-modal-firebase-text,
  .bard-honors-award-text-container,
  .bard-modal-intro-text,
  .bard-modal-folger-text,
  .bard-modal-mit-text {
    font-size: 18px;
  }
}
