.kanban-modal-main {
    background-color: aquamarine;
    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c'
        'd'
    ;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow-x: hidden;
}


.kanban-js,
.kanban-sass,
.kanban-react,
.kanban-firebase,
.kanban-firestore,
.kanban-react-section,
.kanban-react-section-title,
.kanban-react-section-paragraph,
.kanban-js-section,
.kanban-js-section-title,
.kanban-js-section-paragraph,
.kanban-firebase-section,
.kanban-firebase-section-title,
.kanban-firebase-section-paragraph,
.kanban-firestore-section,
.kanban-firestore-section-title,
.kanban-firestore-section-paragraph,
.kanban-sass-section,
.kanban-sass-section-title,
.kanban-sass-section-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;

}



.kanban-software {
    grid-area: a;
    display: grid;
    grid-template-areas:
        'a b c d e'
    ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    // background-color: aliceblue;
    width: 100vw;
    padding: 100px;
}

.kanban-js {
    grid-area: a;
    width: 150px;
}

.kanban-sass {
    grid-area: b;
    width: 220px;
}

.kanban-react {
    grid-area: c;
    width: 210px;
}

.kanban-firebase {
    grid-area: d;
    width: 150px;
}

.kanban-firestore {
    grid-area: e;
    width: 175px;
}

.kanban-react-section,
.kanban-js-section,
.kanban-firebase-section,
.kanban-firestore-section,
.kanban-sass-section {
    flex-direction: column;
}

.kanban-react-section-title,
.kanban-js-section-title,
.kanban-firebase-section-title,
.kanban-firestore-section-title,
.kanban-sass-section-title {
    font-size: 100px;
    color: snow;
}

.kanban-react-section-paragraph,
.kanban-js-section-paragraph,
.kanban-firebase-section-paragraph,
.kanban-firestore-section-paragraph,
.kanban-sass-section-paragraph {
    font-size: 50px;
    padding: 50px;
    color: beige;
}

@media (max-width: 1110px) {
    .kanban-software {
        grid-template-areas:
            'a'
            'b'
            'c'
            'd'
            'e'
        ;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding: 50px;
    }

    .kanban-js {
        width: 100px;
    }

    .kanban-sass {
        width: 129px;
    }

    .kanban-react {
        width: 129px;
    }

    .kanban-firebase {
        width: 80px;
    }

    .kanban-firestore {
        width: 95px;
    }
    .kanban-react-section-title,
.kanban-js-section-title,
.kanban-firebase-section-title,
.kanban-firestore-section-title,
.kanban-sass-section-title {
    font-size: 30px;
}

.kanban-react-section-paragraph,
.kanban-js-section-paragraph,
.kanban-firebase-section-paragraph,
.kanban-firestore-section-paragraph,
.kanban-sass-section-paragraph {
    font-size: 20px;
    padding: 30px;
    overflow-wrap: break-word;
   
}
}