/*=================
main
==================*/
.whacka-modal-main-div {
  animation: WhackaModalFadeInBackground 3s ease-in-out forwards;
}

.whacka-modal-main {
  background-color: #000000;
  padding: 0%;
}

.whacka-modal-flex-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/*==========================
  PAGE 1
  /*===========================*/

.whacka-modal-page-one {
  display: grid;
  order: 1;
  flex: 0 0 auto;
  height: 110vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(0, 0, 0);
  border: solid 10px rgb(0, 0, 0);
  animation: WhackaModalBodyStartup 3s ease-in-out forwards;
}

.whacka-modal-info-container,
.whacka-modal-js-logo-container,
.whacka-modal-html-logo-container,
.whacka-modal-sass-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whacka-modal-info-container {
  grid-column: 4 / 10;
  grid-row: 5 / 7;
}

.whacka-modal-info {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  z-index: 5;
  color: snow;
  background-color: rgba(0, 0, 0, 0.886);
  border: solid 1px rgb(0, 0, 0);
  border-radius: 22px;
  text-shadow: 0px 0px 0 rgb(0, 0, 0);
  box-shadow: 0px 0px 100px 1px rgb(0, 0, 0);
  padding: 22px;
  text-align: justify;
  line-height: 2;
  letter-spacing: 2px;
}

.whacka-modal-js-logo-container {
  grid-column: 4 / 6;
  grid-row: 2 / 6;
}
.whacka-modal-js-image,
.whacka-modal-html-image,
.whacka-modal-sass-image {
  width: 100%;
  scale: 0.5;
  animation: whackaModalLogoCyclicalJs 5s ease-in-out 8s forwards infinite;
}

.whacka-modal-html-image {
  animation: whackaModalLogoCyclicalHtml 5s ease-in-out 8s forwards infinite;
}

.whacka-modal-sass-image {
  animation: whackaModalLogoCyclicalSass 5s ease-in-out 8s forwards infinite;
}

.whacka-modal-html-logo-container {
  grid-column: 6 / 8;
  grid-row: 2 / 6;
}

.whacka-modal-sass-logo-container {
  grid-column: 8 / 10;
  grid-row: 2 / 6;
}

/*==========================
  PAGE 2
  /*===========================*/

.whacka-modal-page-two {
  display: grid;
  order: 2;
  flex: 0 0 auto;
  height: 70vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: rgb(0, 0, 0);
}

.whacka-paragraph-two-container,
.whacka-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whacka-paragraph-two-container {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  font-family: "Permanent Marker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: justify;
  padding: 3vw;
  color: rgb(255, 0, 0);
}

.whacka-gif-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.whacka-gif {
  width: 40vw;
  height: auto;
  border-radius: 22px;
  box-shadow: 0px 0px 100px 1px rgb(0, 255, 0);
}

/*==========================
  PAGE 3
  /*===========================*/

.whacka-modal-page-three {
  display: grid;
  order: 3;
  flex: 0 0 auto;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: rgb(0, 0, 0);
}

.event-listeners-title-container,
.button-clicks-text-container,
.grid-interactions-text-container,
.sound-text-container,
.timers-text-container,
.whacka-code-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-listeners-title-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.event-listeners-title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: rgb(60, 0, 255);
  z-index: 5;
  animation: whackaModalTitleStartup 3s ease-in-out;
}

.button-clicks-text-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.button-clicks-text {
  color: red;
}

.button-clicks-text,
.grid-interactions-text,
.sound-text,
.timers-text {
  font-family: "Permanent Marker", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 1.5;
  padding: 10vw;
  letter-spacing: 2px;
  font-size: 55px;
}

.grid-interactions-text-container {
  grid-column: 1 / -1;
  grid-row: auto;
  color: blue;
}

.sound-text-container {
  grid-column: 1 / -1;
  grid-row: auto;
  color: red;
}

.timers-text-container {
  grid-column: 1 / -1;
  grid-row: auto;
  color: blue;
}

.whacka-code-image-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.whacka-code-image {
  width: 40vw;
  height: auto;
  border-radius: 22px;
}

/*==========================

MEDIA QUERIES
===========================*/

@media (max-width: 2560px) {
  .whacka-modal-info {
    font-size: 30px;
    line-height: 1.2;
  }

  .event-listeners-title {
    font-size: 100px;
  }

  .button-clicks-text,
  .grid-interactions-text,
  .sound-text,
  .timers-text {
    font-size: 50px;
  }
}
@media (max-width: 1920px) {
  .event-listeners-title {
    font-size: 80px;
  }
  .button-clicks-text,
  .grid-interactions-text,
  .sound-text,
  .timers-text {
    font-size: 28px;
  }
}

@media (max-width: 1600px) {
  .whacka-modal-info {
    font-size: 25px;
  }

  .event-listeners-title {
    font-size: 80px;
  }
  .whacka-paragraph-two-container {
    font-size: 25px;
  }

  .button-clicks-text,
  .grid-interactions-text,
  .sound-text,
  .timers-text {
    font-size: 25px;
  }
  .whacka-code-image {
    width: 100vw;
    height: auto;
    border-radius: 0px;
  }
}

@media (max-width: 1400px) {
  .whacka-modal-info {
    font-size: 25px;
  }

  .event-listeners-title {
    font-size: 30px;
  }

  .whacka-modal-page-two {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }

  .whacka-paragraph-two-container,
  .whacka-gif-container {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .whacka-paragraph-two-container {
    order: 1;
    padding: 5vw;
  }

  .whacka-gif {
    // order: ;
    width: 100vw;
    border-radius: 0px;
    box-shadow: none;
  }

  .button-clicks-text,
  .grid-interactions-text,
  .sound-text,
  .timers-text {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .whacka-modal-info {
    font-size: 22px;
  }

  .whacka-paragraph-two-container {
    font-size: 18px;
  }

  .event-listeners-title {
    font-size: 18px;
  }

  .button-clicks-text,
  .grid-interactions-text,
  .sound-text,
  .timers-text {
    font-size: 18px;
    letter-spacing: 0px;
  }

  .timers-text-container {
    z-index: 20;
  }
}
@media (max-width: 500px) {
  .whacka-modal-info-container {
    grid-column: 1 / -1;
  }
}

@media (max-width: 450px) {
  .event-listeners-title {
    font-size: 18px;
  }
}
