

/*=================
HEADER grid main
==================*/
.krispy-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  background-color: rgb(255, 215, 0, 0.9);
  height: 10%;
  border: solid 1px rgb(0, 0, 0);
  z-index: 5;
  box-shadow: gold 0px 0px 100px;
  animation: krispyModalHeaderStartup 5s ease;
}


.krispy-modal-header .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  font-size: 69px;
  color: rgb(244, 77, 186);
  animation: krispyModalHeaderSlideInLeft 5s ease-in-out;
}

.krispy-modal-header .krispy-modal-header-text-two {
  color: rgb(255, 255, 255);
  margin: 30px;
  font-size: 33px;
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
  animation: krispyModalHeaderSlideInLeft 5s ease-in-out;
}

.krispy-modal-header .btn-close {
  scale: 1.5;
  background-color: rgb(255, 255, 255);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}
/*=================
main
==================*/
.krispy-modal-main-div {
  animation: krispyModalMainDivStartupScale 3s ease-in-out;
 }
 
 .krispy-modal-main {
   padding: 0%;
   animation: krispyModalMainStartup 3s ease-in-out;
 }
 
 .krispy-modal-flex-main {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   scroll-behavior: smooth;
 }
   
/*=================
PAGE 1
==================*/

// .krispy-modal-header-text {
//   animation: krispyModalHeaderSLideInLeft 5s ease-in-out;
// }


.krispy-modal-page-one {
  order: 1;
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(2, 0, 46);
  background-blend-mode: multiply;
    animation: krispyModalBodyStartup 5s ease-in-out;
}

.krispy-modal-info-container,
.chaplin-vagabond-container,
.chaplin-auto-race-container,
.chaplin-behind-the-screen-container,
.chaplin-in-the-park-container,
.chaplin-one-am-container,
.chaplin-a-night-in-the-show-container,
.chaplin-charlot-container,
.chaplin-the-cure-container,
.fox-container,
.natgeo-container,
.nasa-container,
.euronews-container,
.france-container,
.nbc-container 
{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.krispy-modal-info-container {
  grid-column: 2 / 11;
  grid-row: 2 / 5;
}

.krispy-modal-info {
  z-index: 2;
  padding: 2%;
  font-size: 22px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 22px;
  background-color: rgba(0, 242, 255, 0.9);
  color: rgb(0, 0, 0);
  box-shadow: rgb(0, 251, 255) 0px 0px 100px;
  animation: krispyModalInfoStartup 5s ease-in-out;
}

.chaplin-vagabond {
  width: 70%;
  border-radius: 11px;
  z-index: 1;
  animation: imageFadeInAndOutCyclic 10s ease-in-out infinite;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
}

.chaplin-auto-race {
  width: 70%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: gold 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out 4s infinite;
}

.chaplin-behind-the-screen {
  width: 70%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out 2s infinite;
}


.chaplin-the-cure {
  width: 80%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: gold 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out 8s infinite;
}

.chaplin-charlot {
  width: 70%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out 3s infinite;
}

.chaplin-in-the-park {
  width: 70%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(255, 0, 0) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out infinite;
}

.chaplin-one-am {
  width: 90%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out 5s infinite;
}

.chaplin-a-night-in-the-show {
  width: 100%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: gold 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 10s ease-in-out infinite;
}

.fox {
  width: 100%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 14s ease-in-out infinite;

}

.natgeo {
  width: 100%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(255, 0, 0) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 14s ease-in-out infinite 8s;
}

.nasa {
  width: 75%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: gold 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 14s ease-in-out infinite 4s;
}

.euronews {
  width: 75%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 14s ease-in-out infinite 6s;
}

.france {
  width: 75%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(55, 255, 0) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 14s ease-in-out infinite 10s;
}

.nbc {
  width: 75%;
  border-radius: 11px;
  z-index: 1;
  box-shadow: rgb(0, 242, 255) 0px 0px 100px;
  animation: imageFadeInAndOutCyclic 14s ease-in-out infinite 12s;
}

/*=========
FOOTER
==========*/

.krispy-modal-footer {
  display: grid;
  height: 10%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(255, 215, 0, 0.9);
  border: solid 1px rgb(0, 0, 0);
  z-index: 5;
  box-shadow: gold 0px 0px 100px;
  animation: krispyModalFooterStartup 7s ease;
}

.krispy-modal-close-btn,
.krispy-site-btn,
.krispy-modal-github-btn {
  width: 50%;
  scale: 1.5;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
  animation: krispyModalBtnStartup 7s ease-in-out;
}

.krispy-modal-close-btn {
  grid-column: 2 / 3;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}

.krispy-site-btn {
  grid-column: 3 / 4;
  grid-row: 2;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  // text-shadow: 1px 1px 1 #ffffff, 1px 1px 0 #ffffff, 1px 1px 100 #ffffff;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.krispy-modal-github-btn {
  grid-column: 5;
  grid-row: 2;
  background-color: rgb(0, 255, 106);
}
