/*=================
main
==================*/
.krispy-modal-main-div {
  animation: krispyModalMainDivStartupScale 3s ease-in-out;
}

.krispy-modal-body-main {
  padding: 0%;
  animation: krispyModalMainStartup 3s ease-in-out;
  background-color: rgb(0, 0, 0);
}

.krispy-modal-flex-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.krispy-modal-page-one,
.krispy-modal-page-two,
.krispy-modal-page-three,
.krispy-modal-page-four,
.krispy-modal-page-five,
.krispy-modal-page-six {
  order: 1;
  flex: 0 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}



/*=================
page 1
==================*/

.krispy-modal-page-one {
  background-color: wheat;
  animation: krispyModalBodyStartup 5s ease-in-out;
}

.krispy-logos-container {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-content: center;

  width: 100vw;
  height: auto;
  grid-column: 1 / -1;
  grid-row: auto;
  z-index: 10;
}

.krispy-modal-js-logo-container,
.krispy-modal-react-logo-container,
.krispy-modal-redux-logo-container,
.krispy-modal-sass-logo-container,
.krispy-modal-firebase-logo-container,
.krispy-modal-bootstrap-logo-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vw;
}

.krispy-modal-js-logo,
.krispy-modal-react-logo,
.krispy-modal-redux-logo,
.krispy-modal-sass-logo,
.krispy-modal-firebase-logo,
.krispy-modal-bootstrap-logo {
  height: 100%;
  max-width: 100%;

  object-fit: contain;
}

.krispy-modal-react-logo {
  animation: reactLogoSpin 5s ease-in-out infinite;
  scale: 0.9;
}

.krispy-modal-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: auto;
  z-index: 20;
}

.krispy-modal-info {
  z-index: 29;
  padding: 15vh 20vw 0vw 20vw;
  font-size: 80px;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(0, 29, 73);
  text-align: justify;
  line-height: 1.5;
  animation: krispyModalInfoStartup 5s ease-in-out;
}

.film-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 1 / -1;
  grid-row: auto;
  // background-color: rgba(0, 0, 0, 0.13);
  z-index: 100;
  overflow: hidden;
  padding: 20vw;
}

.chaplin-vagabond-container,
.chaplin-one-am-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.chaplin-vagabond,
.chaplin-one-am {
  width: 50vw;
  height: auto;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.206) 0px 0px 100px 1px;
}

.chaplin-vagabond-container {
  transform: perspective(1000px) rotateY(30deg);
  transition:cubic-bezier(0.895, 0.03, 0.685, 2) .9s;
}

.chaplin-vagabond-container:hover {
  transform: perspective(1000px) rotateY(0deg);
  cursor: pointer;
}

.chaplin-one-am-container {
  transform: perspective(1000px) rotateY(-30deg);
  transition:cubic-bezier(0.895, 0.03, 0.685, 2) .9s;
}

.chaplin-one-am-container:hover {
  transform: perspective(1000px) rotateY(0deg);
  cursor: pointer;
}

/*=========
PAGE 2
==========*/

.krispy-modal-page-two {
  order: 2;
  background-color: rgb(214, 214, 214);

  // border: solid 1px rgb(0, 0, 0);
  z-index: 1;
}

.krispy-modal-redux-title-container,
.krispy-modal-redux-info-container,
.favorite-code-container,
.favorite-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.krispy-modal-redux-title-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.krispy-modal-redux-title,
.map-title,
.routing-title,
.bootstrap-title,
.parallax-title {
  font-size: 180px;
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  padding: 2vh 0vw 5vw 0vw;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  font-weight: 900;
  font-style: normal;
  text-wrap: nowrap;
}

.krispy-modal-redux-info-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.krispy-modal-redux-info,
.routing-info,
.bootstrap-info,
.parallax-info,
.map-info,
.map-info-two  {
  font-size: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px black;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-align: justify;
  hyphens: auto;
  line-height: 1.4;
  padding: 0vh 20vw 5vw 20vw;
  // letter-spacing: 4.5px;
}

.favorite-code-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: auto;
}

.favorite-code-container,
.favorite-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.favorite-code,
.favorite-gif {
  height: auto;
  width: 50vw;
  max-width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.favorite-code {
  transform: perspective(1000px) rotateX(-10deg);
  
}
/*=========
PAGE 3
==========*/

.krispy-page-three {
  order: 3;
  background-color: rgb(84, 81, 131);
}

.map-title-container,
.map-info-container,
.map-info-two-container,
.map-code-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-info-container, 
.map-info-two-container,
.map-code-container,
.map-title-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

// .favorite-code,
// .map-code,
// .parallax-code,
// .bootstrap-code,
// .routing-code {
//   border-radius: 20px;
//   box-shadow: rgb(255, 204, 0) 0px 0px 10px 1px;
//   z-index: 122;
// }

.map-info,
.map-info-two {
  color: aliceblue;
  // padding: 0vh 30vw 0vw 30vw;
}

.map-title {
  color: hotpink;
}

.map-code {
  width: 100vw;
  height: auto;
  object-fit: contain;
 
}

/*=========
PAGE 4
==========*/

.krispy-page-four {
  order: 4;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.routing-title-container,
.routing-info-container,
.routing-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.routing-info-container
.routing-code-container 
.routing-title-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.routing-title {
  color: rgb(167, 167, 167);
}

.routing-info {
  color: aliceblue;
  text-shadow: snow 0px 0px 2px;
  font-weight: 300;
}

.routing-code {
  width: 70vw;
    height: auto;
    object-fit: contain;
    padding: 0;
}


/*=========
PAGE 5
==========*/

.krispy-page-five {
  order: 5;
  background-color: rgb(0, 204, 255);
}

.bootstrap-title-container,
.bootstrap-info-container,
.bootstrap-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bootstrap-title-container,
.bootstrap-info-container, 
.bootstrap-code-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.bootstrap-code {
  width: 100vw;
  height: auto;
  object-fit: contain;
}

.bootstrap-title {
  color: rgb(187, 0, 0);

}

/*=========
PAGE 6
==========*/

.krispy-page-six {
  order: 6;
  background-color: rgb(255, 215, 0);
}

.parallax-title-container,
.parallax-info-container,
.parallax-code-container,
.krispy-copyright-container,
.parallax-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-title-container,
.parallax-info-container,
.parallax-code-container,
.krispy-copyright-container {
  
  grid-column: 1 / -1;
  grid-row: auto;

}

.parallax-code {
  width: 100vw;
  height: auto;
  object-fit: contain;
}

.parallax-title {
  color: rgb(116, 17, 127);
}



/*==========================
            MEDIA QUERIES
============================*/

@media (max-width: 4525px) {
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 160px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 80px;
  }
}
@media (max-width: 4000px) {
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 120px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 70px;
  }


}

@media (max-width: 3000px) {
  .krispy-modal-info {
    font-size: 50px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 100px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 60px;
  }

}
@media (max-width: 2500px) {
  .krispy-modal-info {
    font-size: 35px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 70px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 40px;
  }


  .krispy-copyright-container .copyright-text {
    font-size: 12px;
    color: black;
  }
}

@media (max-width: 1850px) {
  .krispy-modal-info {
    font-size: 30px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 55px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 35px;
  }
}
@media (max-width: 1450px) {

  .krispy-modal-info {
    font-size: 25px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 50px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .map-title {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .favorite-gif,
  .favorite-code,
  .map-code {
      width: 100vw;
      transform: perspective(0px) rotateX(0deg);
      border-radius: 0px;
  }
}

@media (max-width: 769px) {

  .krispy-modal-info {
    font-size: 18px;
       padding: 5vh 20vw 0vw 20vw;
  }
  .routing-info-container {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
  }
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 30px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 18px;
  }
}

@media (max-width: 450px) {

  .krispy-modal-info {
    font-size: 10px;
  }
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 22px;
  }
}
@media (max-width: 380px) {
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 18px;
  }
  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 12px;
  }
}

