/* ================================== *

               MAIN GRID         
/* ================================== */

.projects-div-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.projects-div-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px;
  width: 80%;
  height: 80%;
  background-color: snow;
  border-radius: 55px;
  border: solid 2px rgb(0, 38, 255);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 100px rgb(0, 128, 255);
  animation: projectsPageBgStartUp 5s ease-in-out forwards;
}

/* ================================== *
  NAVBAR
/* ================================== */

.nav-div-main {
  width: 100%;
  // height: 70%;
  grid-column: 1 / 11;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 50;
  border-radius: 53px 53px 0px 0px;
  background-color: rgba(0, 15, 82, 0.774);
  // border: rgba(0, 0, 0, 0.6) 1px solid;
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  animation: navDivStartup 5s ease-in-out;
}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn,
.nav-linkedin-btn,
.nav-github-btn,
.nav-gmail-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn {
  font-size: 38px;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: 0.3s ease-in-out;
}

.nav-home-btn:hover,
.nav-resume-btn:hover,
.nav-three-dee-resume-btn:hover,
.nav-gmail-btn:hover,
.nav-linkedin-btn:hover,
.nav-github-btn:hover,
.profile-image:hover {
  scale: 1.2;
}

.nav-home-btn {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.nav-resume-btn {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

.nav-three-dee-resume-btn {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4 / 5;
  grid-row: 1 / -1;
  flex-direction: row;
}

.nav-gmail-btn,
.nav-linkedin-btn,
.nav-github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5 / 6;
  grid-row: 1 / -1;
  transform: translate(20px, 0px);
  margin-left: 40%;
}

.profile-image {
  width: 5vw;
  height: auto;
  border-radius: 50%;
}

.profile-div-main {
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 5 / 6;
  grid-row:  1 / -1;
}

.ibrahim-karim,
.location,
.phone {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: default;
  // transform: rotate(-90deg);
}

/* ================================== *
  PROJECTS
/* ================================== */

.ibrahim-karim-mobile {
  display: none;
}

.profile-main-mobile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1 / 16;
  grid-row: 3 / 4;
  z-index: 28;
  display: none;
  background-color: rgb(204, 179, 96);
}

.profile-div-main-mobile,
.social-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-div-main-mobile {
  grid-column: 4 / 6;
  grid-row: 1 / 5;
  flex-direction: column;
}

.profile-div-main-mobile > div {
  font-size: 15px;
}

.social-container-mobile {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  flex-direction: row;
}

.social-container-mobile div {
  font-size: 20px;
}

.whacka-div-main,
.bard-div-main,
.krispy-div-main,
.hey-you-div-main,
.this-portfolio-div-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.whacka-div-main {
  grid-column: 1 / 3;
  grid-row: 1 / 11;
  background-color: rgb(255, 0, 0);
  border-radius: 53px 0px 0px 53px;
  animation: projectDivStartup 2s ease-in-out forwards;
}

.whacka-div-main:hover,
.bard-div-main:hover,
.krispy-div-main:hover,
.hey-you-div-main:hover,
.this-portfolio-div-main:hover {
  scale: 1.05;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.397) 0px 0px 10px 10px;
  z-index: 22;
}

.krispy-div-main {
  grid-column: 3 / 5;
  grid-row: 1 / 11;
  background-color: rgb(31, 0, 80);
  animation: projectDivStartup 3s ease-in-out forwards;
}

.hey-you-div-main {
  grid-column: 5 / 7;
  grid-row: 1 / 11;
  background-color: rgb(0, 139, 139);
  animation: projectDivStartup 4s ease-in-out forwards;
}

.bard-div-main {
  grid-column: 7 / 9;
  grid-row: 1 / 11;
  background-color: rgb(107, 7, 0);
  animation: projectDivStartup 5s ease-in-out forwards;
}

.this-portfolio-div-main {
  grid-column: 9 / 11;
  grid-row: 1 / 11;
  background-color: rgb(0, 17, 255);
  border-radius: 0px 53px 53px 0px;
  animation: projectDivStartup 6s ease-in-out forwards;
}

.whacka-text,
.whacka-description-text,
.krispy-text,
.krispy-description-text,
.hey-you-text,
.hey-you-description-text,
.bard-text,
.bard-description-text,
.this-portfolio-text,
.this-portfolio-description-text {
  text-wrap: nowrap;
  transform: rotate(-90deg);
}

.whacka-software-text-container,
.krispy-software-text-container,
.hey-you-software-text-container,
.bard-software-text-container,
.this-portfolio-software-text-container {
  grid-column: 1 / 6;
  grid-row: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.whacka-js,
.whacka-html,
.whacka-scss,
.krispy-js,
.krispy-react,
.krispy-firebase,
.krispy-redux,
.krispy-bootstrap,
.krispy-scss,
.hey-you-js,
.hey-you-react,
.hey-you-socketio,
.hey-you-mongodb,
.hey-you-nodejs,
.hey-you-docker,
.hey-you-googlecloud,
.bard-js,
.bard-react-native,
.bard-redux,
.bard-firebase,
.bard-firestore,
.this-portfolio-js,
.this-portfolio-react,
.this-portfolio-react-fiber,
.this-portfolio-firebase,
.this-portfolio-scss,
.this-portfolio-blender {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  // text-shadow: 0px 0px 0 #000000,
  //  0px 0px 0 #000000,
  //  0px 0px 0 #000000,;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border-radius: 1000px;
}

.whacka-description-text,
.krispy-description-text,
.hey-you-description-text,
.bard-description-text,
.this-portfolio-description-text {
  grid-column: 4 / 6;
  grid-row: 1 / 5;
  font-size: 44px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.whacka-text {
  font-size: 70px;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.whacka-text,
.krispy-text,
.hey-you-text,
.bard-text,
.this-portfolio-text {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.krispy-text {
  font-size: 77px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
}

.hey-you-text {
  font-size: 77px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: snow;
}

.bard-text {
  font-size: 77px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: rgb(255, 255, 255);

  font-style: italic;
}

.this-portfolio-text {
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  font-weight: 400;
}
/*=========
FOOTER
=========*/

.footer-div-main {
  width: 100%;
  // height: %;
  grid-column: 1 / 11;
  grid-row: 9 / 11;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  z-index: 25;
  border-radius: 0px 0px 53px 53px;
  background-color: rgba(0, 15, 82, 0.774);
  // border: rgba(0, 0, 0, 0.6) 1px solid;
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  animation: navDivStartup 3s ease-in-out;
}

.projects-copyright-container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright-text {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*========
MEDIA QUERIES
========*/

@media (max-width: 7000px) {
  // .nav-home-btn,
  // .nav-resume-btn,
  // .nav-three-dee-resume-btn {
  //   font-size: 50px;
  // }

  // .social-container div {
  //   font-size: 40px;
  // }

  // .profile-image {
  //   width: 18vw;
  // }

  // .profile-div-main > div {
  //   font-size: 30px;
  // }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 28px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 80px;
  }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 150px;
  }

  // .projects-copyright-container > div {
  //   font-size: 25px;
  // }
}

@media (max-width: 3200px) {
  // .nav-home-btn,
  // .nav-resume-btn,
  // .nav-three-dee-resume-btn {
  //   font-size: 40px;
  // }

  // .social-container div {
  //   font-size: 30px;
  // }

  // .profile-image {
  //   width: 15vw;
  // }

  // .profile-div-main > div {
  //   font-size: 28px;
  // }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 100px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 70px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 28px;
  }

  // .projects-copyright-container > div {
  //   font-size: 25px;
  // }
}

@media (max-width: 2800px) {
  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 90px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 55px;
  }
  .profile-div-main > div {
    font-size: 25px;
  }
}

@media (max-width: 2500px) {
  // .nav-home-btn,
  // .nav-resume-btn,
  // .nav-three-dee-resume-btn {
  //   font-size: 38px;
  // }

  // .social-container div {
  //   font-size: 22px;
  // }

  // .profile-image {
  //   width: 12vw;
  
  // }

  // .profile-div-main > div {
  //   font-size: 22px;
  // }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 80px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 50px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 22px;
  }

  .projects-copyright-container > div {
    font-size: 12px;
  }
}

@media (max-width: 2300px) {
  .nav-home-btn,
  .nav-resume-btn,
  .nav-three-dee-resume-btn {
    font-size: 35px;
  }

  .social-container div {
    font-size: 20px;
  }

  // .profile-image {
  //   width: 11vw;
   
  // }

  .profile-div-main > div {
    font-size: 18px;
  }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 67px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 47px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 15px;
  }
}

@media (max-width: 1800px) {
  .nav-home-btn,
  .nav-resume-btn,
  .nav-three-dee-resume-btn {
    font-size: 28px;
  }

  .social-container div {
    font-size: 18px;
  }

  // .profile-image {
  //   width: 9vw;
  // }

  .profile-div-main > div {
    font-size: 15px;
  }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 50px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 37px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 15px;
  }
}

@media (max-width: 1600px) {
  // .nav-home-btn,
  // .nav-resume-btn,
  // .nav-three-dee-resume-btn {
  //   font-size: 25px;
  // }

  // .social-container div {
  //   font-size: 15px;
  // }

  // .profile-image {
  //   width: 7vw;
  // }

  // .profile-div-main > div {
  //   font-size: 14px;
  // }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 50px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 37px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  .projects-div-main {
    width: 100%;
    border-radius: 0px;
    border: 0px;
    left: 50%;
  }

  .footer-div-main,
  .nav-div-main {
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
  }

  .whacka-div-main,
  .this-portfolio-div-main {
    border-radius: 0px 0px 0px 0px;
  }

  .nav-home-btn,
  .nav-resume-btn,
  .nav-three-dee-resume-btn {
    font-size: 22px;
  }

  .social-container div {
    font-size: 14px;
  }

  // .profile-image {
  //   width: 6vw;
  // }

  .profile-div-main > div {
    font-size: 12px;
  }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 50px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 37px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 12px;
  }
}

@media (max-width: 1250px) {
  // .nav-home-btn,
  // .nav-resume-btn,
  // .nav-three-dee-resume-btn {
  //   font-size: 18px;
  // }

  // .social-container div {
  //   font-size: 12px;
  // }

  // .profile-image {
  //   width: 5vw;
  // }

  // .profile-div-main > div {
  //   font-size: 10px;
  // }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 40px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 27px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 10px;
  }
}

@media (max-width: 1100px) {
  .nav-home-btn,
  .nav-resume-btn,
  .nav-three-dee-resume-btn {
    font-size: 15px;
  }

  .social-container div {
    font-size: 12px;
  }
  
  // .profile-image-container {
  //   grid-column: 13 / 15;
  //   grid-row: 1 / 4;
  // }

  // .profile-image {
  //   width: 4vw;
  // }

  // .profile-div-main {
  //   grid-column: 15 / -1;
  //   grid-row: 1 / 2;
  // }

  .profile-div-main > div {
    font-size: 10px;
  }
  .social-container { 
    flex-direction: column;
  }

  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 30px;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 17px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 7.5px;
  }
}

@media (max-width: 768px) {
  .projects-div-main {
    width: 100vw;
    height: 100vh;
    top: 0px;
    // border-radius: 0px;
    // border: 0px;
    // left: 55%;
  }

  .whacka-div-main {
    grid-column: 1 / 16;
    grid-row: 4 / 5;
    border-radius: 0px;
  }

  .krispy-div-main {
    grid-column: 1 / 16;
    grid-row: 5 / 6;
  }

  .hey-you-div-main {
    grid-column: 1 / 16;
    grid-row: 6 / 7;
  }

  .bard-div-main {
    grid-column: 1 / 16;
    grid-row: 7 / 8;
  }

  .this-portfolio-div-main {
    grid-column: 1 / 16;
    grid-row: 8 / 9;

    border-radius: 0px;
  }
  .whacka-text,
  .whacka-description-text,
  .krispy-text,
  .krispy-description-text,
  .hey-you-text,
  .hey-you-description-text,
  .bard-text,
  .bard-description-text,
  .this-portfolio-text,
  .this-portfolio-description-text {
    text-wrap: nowrap;
    transform: rotate(0deg);
  }
  .whacka-text,
  .krispy-text,
  .hey-you-text,
  .bard-text,
  .this-portfolio-text {
    font-size: 20px;
    grid-row: 1 / 3;
    grid-column: 2 / 5;
  }

  .whacka-description-text,
  .krispy-description-text,
  .hey-you-description-text,
  .bard-description-text,
  .this-portfolio-description-text {
    font-size: 15px;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 10px;
    margin: 10px;
    text-wrap: nowrap;
  }
  .whacka-software-text-container,
  .krispy-software-text-container,
  .hey-you-software-text-container,
  .bard-software-text-container,
  .this-portfolio-software-text-container {
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    
  }

  
  .social-container {
    display: none;
  }
  .social-container-mobile {
    display: flex;
  }
  .social-container-mobile  div {
    font-size: 12px;
  }
  
  .profile-div-main {
    display: none;
  }
  .profile-main-mobile {
    display: grid;
  }
  .profile-image-container {
    grid-column: 4 / 5;
  }

  .profile-image {
    width: 12vw;
  }


  .nav-home-btn,
  .nav-resume-btn,
  .nav-three-dee-resume-btn {
    font-size: 15px;
  }

  .nav-div-main,
  .footer-div-main {
    background-color: rgb(0, 3, 49);
  }
}

@media (max-width: 555px) {
  // .ibrahim-karim-mobile {
  //   font-size: 37px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   font-family: "Raleway", sans-serif;
  //   font-weight: 300;
  //   font-style: normal;
  //   color: rgb(255, 255, 255);
  //   text-decoration: none;
  //   grid-column: 5 / 15;
  //   grid-row: 1 / 4;
  //   text-wrap: nowrap;
  //   transform: translate(0%, -65%);
  // }

  // .profile-image-container {
  //   grid-column: 1 / 7;
  //   grid-row: 1 / 3;
  //   transform: translate(0%, -55%);
  // }

  // .profile-image {
  //   width: 12vw;
  //   // border-radius: 0px;
  //   z-index: 1;
  //   overflow: hidden;
  //   // transform: translate(-150%, -55%);
  // }
  // .nav-div-main {
  //   grid-template-rows: repeat(10, 1fr);
  // }
  // .nav-home-btn {
  //   grid-column: 1 / -1;
  //   grid-row: 5 / 7;
  //   // width: 100%;
  // }
  // .nav-resume-btn {
  //   grid-column: 1 / -1;
  //   grid-row: 7 / 9;
  // }

  // .nav-three-dee-resume-btn {
  //   grid-column: 1 / -1;
  //   grid-row: 9 / 11;
  // }

  // .nav-home-btn,
  // .nav-resume-btn,
  // .nav-three-dee-resume-btn {
  //   font-size: 15px;
  //   border: black 1px solid;
  //   background-color: rgba(65, 100, 141, 0.801);
  //   font-family: "Cormorant Garamond", serif;
  //   border-radius: 0px;
  //   font-weight: 200;
  //   // padding: 10px;
  // }
  // .social-container-mobile div {
  //   font-size: 12px;
  // }

  .profile-div-main-mobile div {
    font-size: 10px;
  }

  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    font-size: 2vw;
   
  }
}
@media (max-width: 400px) {


  .profile-image {
    width: 20vw;
  }
  .social-container-mobile div {
    font-size: 10px;
  }
  .whacka-software-text-container > div,
  .krispy-software-text-container > div,
  .hey-you-software-text-container > div,
  .bard-software-text-container > div,
  .this-portfolio-software-text-container > div {
    margin: 2px;
   
  }
  .nav-three-dee-resume-btn,
  .nav-resume-btn,
  .nav-home-btn {
    font-size: 10px;
  }
}
@media (max-height: 485px) {
  .profile-image {
    width: 7vw;
  }
}

@media (max-height: 650px) and (orientation: landscape) {
    .nav-div-main,
    .footer-div-main {
    height: 22vh;
    
    
  }
  .profile-div-main-mobile,
  .this-portfolio-div-main,
  .whacka-div-main,
  .krispy-div-main,
  .hey-you-div-main,
  .bard-div-main {
    height:  50vh;
  }

}
@media (max-height: 480px) and (orientation: landscape) {
  .nav-div-main,
  .footer-div-main {
  height: 50vh;
  
  
  }

}