/*=================
HEADER grid main
==================*/
.krispy-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  background-color: gold;
  height: 5%;
  border: solid 1px rgb(0, 0, 0);
  z-index: 5;
  // box-shadow: gold 0px 0px 30px 10px;
  animation: krispyModalHeaderStartup 5s ease;
}

.krispy-modal-header .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  font-size: 70px;
  color: rgb(255, 137, 214);
  text-shadow: black 0px 0px 1.8px;
  animation: krispyModalHeaderSlideInLeft 5s ease-in-out;
}

.krispy-modal-header .krispy-modal-header-text-two {
  color: rgb(12, 12, 12);
  margin: 30px;
  font-size: 50px;
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
  animation: krispyModalHeaderSlideInLeft 5s ease-in-out;
}

.krispy-modal-header .btn-close {
  scale: 2;
  background-color: rgb(255, 255, 255);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}
/*=================
main
==================*/
.krispy-modal-main-div {
  animation: krispyModalMainDivStartupScale 3s ease-in-out;
}

.krispy-modal-body-main {
  padding: 0%;
  animation: krispyModalMainStartup 3s ease-in-out;
  background-color: rgb(0, 0, 0);
}

.krispy-modal-flex-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/*=================
PAGE 1
==================*/

// .krispy-modal-header-text {
//   animation: krispyModalHeaderSLideInLeft 5s ease-in-out;
// }

.krispy-modal-page-one {
  order: 1;
  flex: 0 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(0, 0, 0);
  background-blend-mode: multiply;
  animation: krispyModalBodyStartup 5s ease-in-out;
}

.krispy-logos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  grid-column: 3 / 11;
  grid-row: 1 / 4;
  z-index: 10;
  // overflow: hidden;
  // padding: 50px;
  gap: 40px;
}

.krispy-modal-js-logo-container,
.krispy-modal-react-logo-container,
.krispy-modal-redux-logo-container,
.krispy-modal-sass-logo-container,
.krispy-modal-firebase-logo-container,
.krispy-modal-bootstrap-logo-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.krispy-modal-js-logo,
.krispy-modal-react-logo,
.krispy-modal-redux-logo,
.krispy-modal-sass-logo,
.krispy-modal-firebase-logo,
.krispy-modal-bootstrap-logo {
  height: 100%;
  max-width: 100%;

  object-fit: contain;
}

.krispy-modal-react-logo {
  animation: reactLogoSpin 5s ease-in-out infinite;
  scale: 0.9;
}

.krispy-modal-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4 / 10;
  grid-row: 4 / 7;
  z-index: 20;
}

.krispy-modal-info {
  z-index: 29;
  padding: 2%;
  font-size: 50px;
  text-align: center;
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  border-radius: 15px;
  color: snow;
  text-align: justify;
  hyphens: auto;
  line-height: 1.4;
  animation: krispyModalInfoStartup 5s ease-in-out;
}

.film-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 3 / 11;
  grid-row: 7 / 11;
  // background-color: rgba(0, 0, 0, 0.13);
  z-index: 100;
  overflow: hidden;
}

.chaplin-vagabond-container,
.chaplin-one-am-container,
.chaplin-the-cure-container,
.chaplin-in-the-park-container,
.chaplin-behind-the-screen-container,
.chaplin-a-night-in-the-show-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100%;
}

.chaplin-vagabond,
.chaplin-behind-the-screen,
.chaplin-one-am,
.chaplin-in-the-park,
.chaplin-a-night-in-the-show {
  height: 100%;
  max-width: 100%;

  object-fit: contain;
}

/*=========
PAGE 2
==========*/

.krispy-modal-page-two {
  order: 2;
  display: grid;
  height: 150vh;
  flex: 0 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(214, 214, 214);

  // border: solid 1px rgb(0, 0, 0);
  z-index: 1;
}

.krispy-modal-redux-title-container,
.krispy-modal-redux-info-container,
.favorite-code-container,
.favorite-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.krispy-modal-redux-title-container {
  grid-column: 1 / 15;
  grid-row: 1 / 2;
}

.krispy-modal-redux-title,
.map-title,
.routing-title,
.bootstrap-title,
.parallax-title {
  font-size: 180px;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  color: rgb(255, 255, 255);
  text-shadow: 3px 2px 5px black;
  font-weight: 900;
  font-style: normal;
  text-wrap: nowrap;
}

.krispy-modal-redux-info-container {
  grid-column: 3 / 11;
  grid-row: 2 / 5;
}

.krispy-modal-redux-info,
.map-info,
.map-info-two,
.routing-info,
.bootstrap-info,
.parallax-info {
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px black;
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  text-align: justify;
  hyphens: auto;
  line-height: 1.4;
  // letter-spacing: 4.5px;
}

.favorite-code-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  grid-column: 1 / 14;
  grid-row: 6 / 12;

  // overflow: hidden;
}

.favorite-code-container,
.favorite-gif-container {
  display: flex;
  width: 100%;
  height: 90%;
}

.favorite-code,
.favorite-gif {
  height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

/*=========
PAGE 3
==========*/

.krispy-page-three {
  order: 3;
  display: grid;
  height: 100vh;
  flex: 0 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(2, 0, 46);
  border: solid 1px rgb(0, 0, 0);
  z-index: 1;
}

.map-title-container,
.map-info-container,
.map-info-two-container,
.map-code-info,
.map-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-title-container {
  grid-column: 2 / 12;
  grid-row: 1 / 3;
}

.map-info-container {
  grid-column: 2 / 7;
  grid-row: 3 / 8;
}

.map-info-two-container {
  grid-column: 2 / 7;
  grid-row: 8 / 11;
}

.map-code-container {
  grid-column: 8 / 12;
  grid-row: 5 / 10;
}
.favorite-code,
.map-code,
.parallax-code,
.bootstrap-code,
.routing-code {
  border-radius: 20px;
  box-shadow: black 0px 0px 10px 1px;
  z-index: 122;
}

/*=========
PAGE 4
==========*/

.krispy-page-four {
  order: 4;
  display: grid;
  height: 70vh;
  flex: 0 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(101, 101, 104);
  z-index: 1;
}

.routing-title-container,
.routing-info-container,
.routing-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.routing-title-container {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.routing-info-container {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  padding: 100px;
}

.routing-code-container {
  grid-column: 4 / 7;
  grid-row: 2 / 5;
}

/*=========
PAGE 5
==========*/

.krispy-page-five {
  order: 5;
  display: grid;
  height: 70vh;
  flex: 0 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(0, 204, 255);
  border: solid 1px rgb(0, 0, 0);
  z-index: 1;
}

.bootstrap-title-container,
.bootstrap-info-container,
.bootstrap-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bootstrap-title-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.bootstrap-info-container {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  padding: 100px;
}

.bootstrap-code-container {
  grid-column: 3 / 5;
  grid-row: 1 / 6;
}

/*=========
PAGE 6
==========*/

.krispy-page-six {
  order: 6;
  display: grid;
  height: 100vh;
  flex: 0 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(255, 215, 0);
  border: solid 1px rgb(0, 0, 0);
  z-index: 1;
}

.parallax-title-container,
.parallax-info-container,
.parallax-code-container,
.parallax-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-title-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.parallax-info-container {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  padding: 100px;
}

.parallax-code-container {
  grid-column: 3 / 7;
  grid-row: 1 / 6;
}

.krispy-copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 5;

  .krispy-copyright-container .copyright-text {
    font-size: 30px;
    color: black;
  }
}

/*=========
FOOTER
==========*/

.krispy-modal-footer {
  display: grid;
  height: 5%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: gold;
  border: solid 1px gold;
  z-index: 5;
  // box-shadow: gold 0px 0px 30px 10px;
  animation: krispyModalFooterStartup 7s ease;
}

.krispy-modal-close-btn,
.krispy-site-btn,
.krispy-modal-github-btn {
  width: 80%;
  border: solid 1px rgb(0, 0, 0);
  font-size: 40px;
  // letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
  animation: krispyModalBtnStartup 7s ease-in-out;
}

.krispy-modal-close-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}

.krispy-site-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  // text-shadow: 1px 1px 1 #ffffff, 1px 1px 0 #ffffff, 1px 1px 100 #ffffff;
}

.krispy-modal-github-btn {
  grid-column: 5;
  grid-row: 1 / 4;
  background-color: rgb(16, 0, 61);
  color: rgb(255, 255, 255);
}

/*==========================
            MEDIA QUERIES
============================*/

@media (max-width: 4525px) {
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 160px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 80px;
  }
}
@media (max-width: 4000px) {
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 120px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 70px;
  }

  .map-code,
  .parallax-code,
  .bootstrap-code,
  .routing-code {
    scale: 0.7;
  }
  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 50px;
  }
}

@media (max-width: 3000px) {
  .krispy-modal-header .modal-title {
    font-size: 45px;
  }
  .krispy-modal-header .krispy-modal-header-text-two {
    font-size: 30px;
  }
  .krispy-modal-header .btn-close {
    scale: 1;
  }

  .krispy-modal-info {
    font-size: 50px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 100px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 60px;
  }

  .map-code,
  .parallax-code,
  .bootstrap-code,
  .routing-code {
    scale: 0.6;
  }
  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 30px;
  }
}
@media (max-width: 2500px) {
  // .krispy-modal-header .modal-title {
  //   font-size: 45px;
  // }
  // .krispy-modal-header .krispy-modal-header-text-two {
  //   font-size: 30px;
  // }
  // .krispy-modal-header .btn-close {
  //   scale: 1;
  // }
  .krispy-modal-page-two {
    height: 140vh;
  }

  .krispy-modal-info {
    font-size: 35px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 70px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 40px;
  }

  .map-code,
  .parallax-code,
  .bootstrap-code,
  .routing-code {
    scale: 0.4;
  }

  .routing-code {
    scale: 0.6;
  }

  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 20px;
  }

  .krispy-copyright-container .copyright-text {
    font-size: 12px;
    color: black;
  }
}

@media (max-width: 1850px) {
  .krispy-page-four {
    height: 100vh;
  }

  .krispy-modal-page-two {
    height: 120vh;
  }
  .krispy-modal-info {
    font-size: 30px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 55px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 35px;
  }

  .map-code,
  .parallax-code,
  .bootstrap-code,
  .routing-code {
    scale: 0.35;
  }

  .routing-code {
    scale: 0.6;
  }

  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 15px;
  }
}
@media (max-width: 1450px) {
  .krispy-modal-page-two {
    height: 100vh;
  }
  .krispy-page-three {
    height: 80vh;
  }

  .krispy-modal-info {
    font-size: 25px;
  }

  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 50px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 20px;
  }

  .map-info-container,
  .map-info-two-container {
    grid-column: 2 / 5;
  }

  .map-code,
  .parallax-code,
  .bootstrap-code,
  .routing-code {
    scale: 0.25;
  }
  .krispy-page-four {
    height: 100vh;
  }

  .krispy-page-five {
    grid-template-columns: repeat(6, 1fr);
  }
  .map-code-container {
    grid-column: 5 / 12;
  }
  .bootstrap-code-container {
    grid-column: 3 / 7;
  }
  .bootstrap-info-container {
    grid-column: 1 / 4;
  }

  .bootstrap-title-container {
    grid-column: 1 / -1;
  }
  .parallax-title-container {
    grid-column: 1 / -1;
  }
  .parallax-info-container {
    grid-column: 1 / 4;
  }

  .krispy-page-five {
    height: 80vh;
  }
  .routing-code {
    scale: 0.4;
  }
}

@media (max-width: 769px) {
  .krispy-modal-page-one {
    height: 60vh;
  }
  .krispy-modal-page-two {
    height: 180vh;
  }
  .krispy-page-three {
    height: 140vh;
  }

  .krispy-page-four {
    height: 120vh;
    grid-template-rows: repeat(10, 1fr);
  }

  .krispy-modal-info {
    font-size: 15px;
  }

  .favorite-code-main-container {
    flex-direction: column;
    gap: 68px;
    // height: 50%;
  }

  .routing-code {
    scale: 0.5;
  }

  .routing-code-container {
    grid-column: 1 / -1;
    grid-row: 5 / 10;
  }
  .routing-info-container {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
  }
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 30px;
  }

  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 18px;
  }

  .krispy-modal-redux-info-container {
    grid-row: 2 / 3;
  }

  .map-info-container,
  .map-info-two-container {
    grid-column: 2 / 5;
  }

  .map-code-container {
    grid-row: 7 / 12;
    grid-column: 1 / -1;
  }
  .map-info-container {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
  }
  .map-info-two-container {
    grid-column: 7 / 12;
    grid-row: 2 / 7;
  }

  .map-code {
    scale: 0.3;
  }

  .bootstrap-code {
    scale: 0.3;
  }

  .krispy-page-five {
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
  }

  .bootstrap-code-container {
    grid-column: 1 / -1;
    grid-row: 5 / 10;
  }

  .bootstrap-info-container {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
  }

  .favorite-code,
  .favorite-gif {
    border-radius: 0px;
  }

  .krispy-page-six {
    grid-template-rows: repeat(10, 1fr);
    height: 150vh;
  }

  .parallax-info-container {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
  }

  .parallax-code {
    scale: 0.4;
  }

  .parallax-code-container {
    grid-column: 1 / -1;
    grid-row: 4 / 10;
  }
  .krispy-copyright-container {
    grid-column: 1 / -1;
    grid-row: 10 / 11;
  }
  .krispy-modal-header .modal-title {
    font-size: 20px;
  }
  .krispy-modal-header .krispy-modal-header-text-two {
    font-size: 15px;
    margin-left: 5px;
  }
  .krispy-modal-header .btn-close {
    scale: 0.7;
  }
  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .krispy-modal-header .modal-title {
    font-size: 12px;
  }
  .krispy-modal-header .krispy-modal-header-text-two {
    font-size: 10px;
    margin-left: 5px;
  }
  .krispy-modal-header .btn-close {
    scale: 0.4;
  }
  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 5px;
  }

  .film-container {
    scale: 1.5;
  }
  .krispy-page-five {
    height: 150vh;
  }

  .krispy-modal-js-logo,
  .krispy-modal-react-logo,
  .krispy-modal-redux-logo,
  .krispy-modal-sass-logo,
  .krispy-modal-firebase-logo,
  .krispy-modal-bootstrap-logo {
    scale: 5;
  }

  .krispy-modal-info {
    font-size: 10px;
  }
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 22px;
  }
}
@media (max-width: 380px) {
  .krispy-modal-js-logo,
  .krispy-modal-react-logo,
  .krispy-modal-redux-logo,
  .krispy-modal-sass-logo,
  .krispy-modal-firebase-logo,
  .krispy-modal-bootstrap-logo {
    scale: 10;
  }
  .krispy-modal-redux-title,
  .map-title,
  .routing-title,
  .bootstrap-title,
  .parallax-title {
    font-size: 18px;
  }
  .krispy-modal-redux-info,
  .map-info,
  .map-info-two,
  .routing-info,
  .bootstrap-info,
  .parallax-info {
    font-size: 12px;
  }

  .krispy-modal-page-one {
    height: 100vh;
  }
  .krispy-modal-page-two {
    height: 150vh;
  }
  .krispy-page-three {
    height: 150vh;
  }
  .map-code {
    scale: 0.2;
  }
  .krispy-page-four {
    height: 110vh;
  }

  .routing-code {
    scale: 0.3;
  }

  .bootstrap-code {
    scale: 0.2;
  }

  .krispy-page-six {
    height: 180vh;
  }
  .krispy-modal-close-btn,
  .krispy-site-btn,
  .krispy-modal-github-btn {
    font-size: 4px;
  }
}

@media (min-height: 100px) and (orientation: landscape) {
  .krispy-modal-header,
  .krispy-modal-footer {
    height: 5%;
  }

  .krispy-modal-page-one {
    height: 300vh;
  }

  .krispy-modal-page-two {
    height: 400vh;
  }
  .krispy-page-three {
    height: 300vh;
  }

  .krispy-page-four {
    height: 270vh;
  }

  .krispy-page-five {
    height: 250vh;
  }
  .krispy-page-six {
    height: 340vh;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .krispy-modal-header,
  .krispy-modal-footer {
    height: 13%;
  }

  .krispy-modal-page-one {
    height: 100vh;
  }

  .krispy-modal-page-two {
    height: 170vh;
  }
  .krispy-page-three {
    height: 100vh;
  }
  .krispy-page-five,
  .krispy-page-six,
  .krispy-page-four {
    height: 100vh;
  }
}
