// .hey-you-modal-main-div {
//   overflow: hidden;
//   width: 100vw;
//   height: 100vh;
// }

/*==========================
            HEADER
============================*/

.hey-you-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  z-index: 3;
  height: 10%;
  background-color: rgb(255, 255, 255);
  transform-origin: 10% 0%;
  // box-shadow: rgb(0, 157, 255) 0px 0px 700px;
  animation: heyYouModalHeaderStartup 5s ease-in-out forwards;
}

.hey-you-modal-header .modal-title,

.hey-you-modal-main-title {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(0, 8, 255);
  animation: heyYouModalTitleStartup 5s ease-in-out forwards;
}

.hey-you-modal-header-text-two {
  color: rgb(0, 8, 255);
  margin: 30px;
  font-size: 33px;
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
  animation: heyYouModalTitleStartup 5s ease-in-out forwards;
}

.hey-you-modal-header .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;
  background-color: rgb(255, 255, 255);
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

/*==========================
        BODY MAIN
============================*/

.hey-you-modal-body-main {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  // overflow: hidden;
}

.hey-you-horizontal-scroll {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

/*==========================
         TITLE PAGE
            grid
============================*/

.hey-you-main-title-page-container,
.hey-you-modal-backend-page-container,
.hey-you-modal-react-native-page-container,
.hey-you-modal-realtime-page-container,
.google-maps-api-page-container,
.saftey-features-page-container,
.hey-you-modal-deployment-page-container
 {
  flex: 0 0 auto;
  width: 100vw;
  order: 1;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  // height: 100vh;
  display: grid;
}

.hey-you-modal-main-title {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 255, 255);
  text-shadow: rgb(69, 73, 73) 0px 100px 1000px;
  border-radius: 220px;
  font-size: 188px;
  animation: heyYouModalMainTitleStartup 4s ease-in-out forwards infinite;
}
.hey-you-honors-title-container {
  grid-column: 1 / 6;
  grid-row: 3 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hey-you-honors-title {
  color: rgb(0, 0, 0);
  text-shadow: rgb(69, 73, 73) 0px 100px 1000px;
  font-size: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*==========================
        BACKEND PAGE
        grid main
============================*/

.hey-you-modal-backend-page-container {
  grid-template-columns: repeat(10, 190px);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(51, 0, 255);
  order: 2;
  z-index: 3;
}
.hey-you-bg-logo-one {
  grid-column: 8 / 10;
  grid-row: 1 / 3;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 55px;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

/*==========================
        BACKEND PAGE continued
            backend grid
============================*/

.hey-you-modal-backend {
  grid-column: 1 / 5;
  grid-row: 1 / 12;
  width: 150%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: snow;
}


.hey-you-modal-backend-text,
.hey-you-modal-backend-logo-names,
.hey-you-modal-backend-paragraph,
.bg-light-hey-you-modal,
.bg-light-hey-you-modal-three,
.hey-you-bg-logo-one,
.node-hey-you-modal-container,
.express-hey-you-modal-container,
.mongo-hey-you-modal-container,
.socket-io-logo-container,
.socket-io-logo-container-two,
.socket-io-logo-container-three,
.socket-io-logo-container-four,
.socket-io-logo-container-five,
.hey-you-modal-realtime-title,
.hey-you-modal-realtime-paragraph,
.socket-io-join-img-container,
.socket-io-create-img-container,
.socket-io-location-img-container,
.socket-io-message-img-container,
.google-maps-api-title,
.google-maps-api-paragraph,
.google-maps-api-logo-one-container,
.google-maps-api-logo-two-container,
.google-maps-api-logos-container,
.saftey-features-title,
.saftey-features-paragraph,
.safety-features-paragraph-two,
.hey-you-modal-deployment-title,
.hey-you-modal-deployment-title-container,
.hey-you-modal-deployment-paragraph-backend,
.hey-you-modal-deployment-paragraph-frontend,
.fa-user-secret,
.fa-key,
.docker-logo-container,
.google-cloud-run-building,
.expo-building,
.react-native-building,
.water-div-closer,
.water-div-further,
.water-div-at-distance,
.water-particle-one,
.water-particle-two,
.expo-logo-container,
.google-cloud-run-logo-container,
.react-native-logo-container,
.moon-container,
.moon,
.stars-grid-container,
.star-one-container,
.star-two-container,
.star-three-container,
.star-four-container,
.star-one,
.star-two,
.star-three,
.star-four,
.expo-building-title,
.google-cloud-run-building-title,
.hey-you-modal-project-video-container,
.hey-you-modal-project-video-title
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hey-you-modal-backend-paragraph {
  grid-column: 7 / 11;
  grid-row: 3 / 9;
  font-size: 33px;
  padding: 0% 5% 0% 5%;
  color: snow;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hey-you-modal-backend-text,
.hey-you-modal-backend-logo-names {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  font-size: 55px;
  z-index: 3;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: rgb(0, 0, 0);
}


.bg-light-hey-you-modal {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgba(150, 150, 150, 0.482);
  box-shadow: rgba(138, 137, 137, 0.361) 0px 0px 5px 5px;
  border-radius: 10px 10px 10px 10px;
  z-index: 3;
  animation: bgLightInfiniteHeyYouModal 18s ease-in-out infinite;
}

.bg-light-hey-you-modal-two {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  background-color: rgba(146, 146, 146, 0);
  box-shadow: rgba(138, 137, 137, 0.174) 0px 0px 5px 5px;
  border-radius: 10px 10px 10px 10px;
  animation: bgLightTwoInfiniteHeyYouModal 22s ease-in-out infinite;
  z-index: 3;
}

.bg-light-hey-you-modal-three {
  grid-column: 1 / 7;
  grid-row: 1 / 6;
  // box-shadow: red 0px 0px 100px 100px ;
  background-color: rgba(227, 227, 227, 0.251);
  opacity: 0.3;
  z-index: 2;
  animation: bgLightThreeInfiniteHeyYouModal 5s step-start infinite;
}

.node-hey-you-modal-container {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  z-index: 3;
}

.node-hey-you-modal {
  animation: logoUpDownHeyYouInfinite 22s ease-in-out infinite;
}

.express-hey-you-modal-container {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  z-index: 3;
}

.express-hey-you-modal {
  animation: expressLogoInfiniteHeyYouModal 8s step-start infinite;
}

.mongo-hey-you-modal-container {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
  transform-origin: 100% 100%;
  z-index: 3;
}
.mongo-hey-you-modal {
  animation: mongoLogoInfiniteHeyYouModal 18s ease-in-out infinite;
}

.hey-you-modal-backend-logo-names {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  font-size: 33px;
  font-weight: 300;
  z-index: 3;
}
/*==========================
      React Native Page
        grid main
============================*/
.hey-you-modal-react-native-page-container {
  order: 3;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(153, 0, 255);
  z-index: 1;
}

.hey-you-modal-react-native-page-container {
  grid-column: 2 / 12;
  grid-row: 2 / 4;
}

.hey-you-phone-main-container,
.hey-you-phone-menu-container,
.hey-you-phone-generate-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hey-you-phone-main-container {
  grid-column: 2 / 4;
  grid-row: 1 / 12;
}

.hey-you-phone-main {
  scale: .6;
}

.hey-you-phone-menu-container {
  grid-column: 4 / 7;
  grid-row: 1 / 12;
}

.hey-you-phone-menu {
  scale: .6;
}

.hey-you-phone-generate-container {
  grid-column: 7 / 12;
  grid-row: 1 / 12;
}

.hey-you-phone-generate {
  scale: .6;
}



/*==========================
      REAL-TIME UPDATES PAGE
       grid main
============================*/

.hey-you-modal-realtime-page-container {
  order: 4;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(242, 255, 0);
  z-index: 1;
}

.real-time-second-bg-container {
  grid-column: 1 / 13;
  grid-row: 1 / 8;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}
.hey-you-modal-realtime-title,
.hey-you-modal-real-time-paragraph {
  grid-column: 7 / 12;
  grid-row: 7 / 9;
  font-size: 75px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: rgb(0, 0, 0);
  z-index: 3;
}

.socket-io-logo-container {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  z-index: 3;
}

.socket-io-logo,
.socket-io-logo-three,
.socket-io-logo-four {
  scale: 0.3;
  animation: socketioLogoHeyYouModal 10s linear infinite reverse;
}

.socket-io-logo-container-two {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  z-index: 3;
}

.socket-io-logo-two {
  scale: 0.7;
  animation: socketioLogoHeyYouModal 10s linear infinite;
}
.socket-io-logo-container-three {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  z-index: 3;
}
.socket-io-logo-three {
  animation: socketioLogoHeyYouModal 10s linear infinite reverse;
}
.socket-io-logo-container-four {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  z-index: 3;
}

.socket-io-logo-four {
  animation: socketioLogoHeyYouModal 10s ease-in-out infinite;
}

.socket-io-logo-container-five {
  grid-column: 1 / 3;
  grid-row: 2 / 6;
  z-index: 3;
}

.socket-io-logo-five {
  scale: 0.1;
  animation: socketioLogoHeyYouModal 10s linear infinite;
}

.socket-io-create-img-container {
  grid-column: 1 / 12;
  grid-row: 1 / 3;
  z-index: 2;
}

.socket-io-create-img {
  scale: 0.5;
}

.socket-io-join-img-container {
  grid-column: 1 / 12;
  grid-row: 2 / 4;
  z-index: 2;
}

.socket-io-join-img {
  scale: 0.5;
}

.socket-io-location-img-container {
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  z-index: 2;
}

.socket-io-location-img {
  scale: 0.5;
}

.socket-io-message-img-container {
  grid-column: 8 / 12;
  grid-row: 4 / 6;
  z-index: 2;
}

.socket-io-message-img {
  scale: 0.5;
}

.hey-you-modal-realtime-paragraph {
  grid-column: 2 / 12;
  grid-row: 9 / 12;
  font-size: 30px;
  font-weight: 300;
}

/*==========================
      GOOGLE MAPS API PAGE
       google maps grid
============================*/
.google-maps-api-page-container {
  order: 5;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.google-maps-api-title,
.google-maps-api-paragraph {
  grid-column: 7 / 12;
  grid-row: 7 / 9;
  font-size: 75px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: rgb(0, 0, 0);
  z-index: 3;
}

.google-maps-api-paragraph {
  grid-column: 2 / 12;
  grid-row: 9 / 12;
  font-size: 30px;
  font-weight: 300;
}

.google-maps-api-logos-container {
  grid-column: 2 / 12;
  grid-row: 2 / 7;
  gap: 122px;
  z-index: 3;
  transform: perspective(1000px);
}

.google-maps-api-logo-one-container {
  transform-origin: 0% 0%;
  animation: googleApiLogoOne 20s linear infinite reverse;
  // grid-column: 4 / 6;
  // grid-row: 2 / 5;
  z-index: 2;
}

// .google-maps-api-logo-one {

// }

.google-maps-api-logo-two-container {
  transform-origin: 0% 0%;
  animation: googleApiLogoTwo 10s linear infinite;
  z-index: 3;
}

// .google-0maps-api-logo-two {

// }
/*==========================
    SAFETY FEATURES PAGE
       grid main
============================*/

.saftey-features-page-container {
  order: 6;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(255, 0, 0);
  z-index: 20;
}

.saftey-features-title,
.safety-features-paragraph,
.safety-features-paragraph-two {
  grid-column: 2 / 12;
  grid-row: 1 / 4;
  font-size: 75px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.safety-features-paragraph,
.safety-features-paragraph-two {
  grid-column: 5 / 9;
  grid-row: 8 / 12;
  font-size: 30px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
}

.safety-features-paragraph-two {
  grid-column: 2 / 12;
  grid-row: 3 / 6;
  font-size: 30px;
}

.fa-user-secret {
  grid-column: 2 / 12;
  grid-row: 5 / 8;
  z-index: 3;
  color: rgb(0, 0, 0);
  font-size: 100px;
  text-shadow: rgb(32, 32, 32) 0 0 7px;
}

.fa-key {
  grid-column: 4 / 7;
  grid-row: 6 / 8;
  transform: rotate(100deg);
  z-index: 2;
  color: rgba(255, 255, 255, 0.637);
  font-size: 122px;
  animation: keyHeyYouModal 22s linear 4s infinite;
}
/*==========================
        APP DEPLOYMENT PAGE
       grid main
============================*/

.hey-you-modal-deployment-page-container {
  order: 7;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.hey-you-modal-deployment-title-container {
  grid-column: 4 / 10;
  grid-row: 9 / 13;
  background-color: snow;
  // box-shadow: white 0 0 5px 0px;
  border: solid 5px rgb(0, 0, 0);
  z-index: 10;
}

.hey-you-modal-deployment-title {
  font-size: 75px;
  grid-column: 4 / 10;
  grid-row: 10 / 12;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: rgb(0, 0, 0);
  z-index: 11;
}

.hey-you-modal-deployment-paragraph-backend, .hey-you-modal-deployment-paragraph-frontend {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  grid-column: 2 / 6;
  grid-row: 1 / 6;
  font-size: 30px;
  font-weight: 500;
  color:snow; 
  text-align: start;                                         
}

.hey-you-modal-deployment-paragraph-frontend {
  grid-column: 6 / 9;
  grid-row: 1 / 6;
  color: gold;
  font-weight: 500;
}

.water-div-closer {
  grid-column: 1 / 13;
  grid-row: 8 / 11;
  background-color:rgba(0, 106, 255, 0.566);
  box-shadow: blue 0px 0px 100px 1px;
  border-radius: 44% 44% 0 0;
  z-index: 8;
  animation: waterCloser 11s ease-in infinite;

}

.water-div-further {
  grid-column: 1 / 13;
  grid-row: 7 / 9;
  background-color:rgb(0, 106, 255);
  box-shadow: blue 0px 0px 100px 1px;
  border-radius: 44% 44% 0 0;
  z-index: 5;
  animation: waterFurther 7s ease-in infinite;
  // transform: rotate(180deg);
}

.water-div-at-distance {
  grid-column: 1 / 13;
  grid-row: 7 / 10;
  background-color:rgba(0, 106, 255, 0.566);
  box-shadow: blue 0px 0px 100px 1px;
  border-radius: 44% 44% 0 0;
  z-index: 4;
  // animation: waterAtDistance 5s ease-in infinite;
}

.water-particle-one {
  grid-column: 8 / 9;
  grid-row: 6 / 9;
  // scale: 2;
  background-color:rgb(0, 106, 255);
  box-shadow: rgb(0, 106, 255) 0 0 100px 77px;
  z-index: 8;
  animation: waterSplashOne 18s linear infinite ;
}   

.water-particle-two {
  grid-column: 9 / 10;
  grid-row: 6 / 7;
  // scale: 2;
  background-color:rgb(0, 106, 255);
  box-shadow: rgb(0, 106, 255) 0 0 100px 77px;
  z-index: 8;
  animation: waterSplashTwo 18s linear infinite ;
}

.moon-container {
  grid-column: 7 / 12;
  grid-row: 1 / 5;
  transform: perspective(500px) rotate(0deg) scale(2);
}

.moon {  
  z-index: 9;
  background-color: rgb(255, 255, 255);
  width: 12%;
  height: 40%;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 1000% 1000% 1000% 1000%;
  box-shadow: rgb(212, 212, 212) 0 0 100px 77px;
  animation: moon 18s linear infinite;
}

.stars-grid-container {
  grid-column: 1 / 13;
  grid-row: 1 / 13;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);

}

.star-one, .star-two, .star-three, .star-four {
  z-index: 4;
  background-color: rgb(255, 255, 255);
  border-radius: 500% 1000% 500% 1000%;
  box-shadow: rgb(212, 212, 212) 0 0 3px 3px;
}

.star-one-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  animation: star 5s linear infinite;
}

.star-two-container {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  animation: star 5s linear infinite 2s;

}

.star-three-container {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  animation: star 5s linear infinite 4s; 

}

.star-four-container {
  grid-column: 4 / 6;
  grid-row: 2 / 4;
  animation: star 5s linear infinite 6s;

}





.docker-logo-container {
  grid-column: 10 / 13;
  grid-row: 6 / 8;
  z-index: 7;
  animation: dockerLogo 18s linear infinite;
}


.google-cloud-run-building {
  grid-column: 1 / 4;
  grid-row: 9 / 11;
  z-index: 10;
  // box-shadow: rgb(255, 255, 255) 0px 0px 20px;
  border: solid 3px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.google-cloud-run-logo-container {
  grid-column: 2 / 5;
  grid-row: 9 / 11;
  z-index: 11;
}

.google-cloud-run-logo {
  scale: .1;
}
.google-cloud-run-building-title {
  grid-column: 1 / 4;
  grid-row: 9 / 11;
  font-size: 50px;
  transform: perspective(300px) rotateY(30deg);
  z-index: 11;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.expo-building {
  grid-column: 1 / 4;
  grid-row: 11 / 13;
  height: 110%;
//  box-shadow: rgb(255, 0, 0) 0px 0px 20px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border: solid 3px rgb(0, 0, 0);
}

.expo-logo-container {
  grid-column: 2 / 5;
  grid-row: 11 / 13;
  z-index: 11;
}

.expo-logo {
  scale: .3;
  transform: perspective(500px);

}


.expo-building-title {
  grid-column: 1 / 4;
  grid-row: 11 / 13;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transform: perspective(300px) rotateY(30deg);
  z-index: 11;
}

.react-native-building {
  grid-column: 10 / 13;
  grid-row: 9 / 13;
  // width: 80%;

  // box-shadow: rgb(153, 0, 255) 0px 0px 20px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border: solid 3px rgb(0, 0, 0);
}

.react-native-logo-container {
  border: solid 1px rgb(0, 0, 0);
  grid-column: 10 / 13;
  grid-row: 9 / 13;
  z-index: 11;
}

.react-native-logo {
  scale: .7;
}

/*==========================
           PROJECT VIDEO PAGE
           main grid
============================*/

.hey-you-modal-project-video-page-container {
  order: 8;
  flex: 0 0 auto;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: rgb(0, 229, 255);
  grid-column: 2 / 12;
  grid-row: 2 / 4;
  z-index: 20;
  border: solid 1px rgb(0, 0, 0);

}

.hey-you-modal-project-video-title {
  grid-column: 1 / 8;
  grid-row: 1 / 13;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  z-index: 20;
}

.hey-you-modal-project-video-container {
  grid-column: 7 / 13;
  grid-row: 1 / 13;
  scale: 0.8;
}




/*==========================
            FOOTER
============================*/

.hey-you-modal-footer {
  display: grid;
  height: 10%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
  transform-origin: -100% -100%;
  box-shadow: rgb(0, 106, 255) 0px 0px 20px;
  animation: heyYouModalFooterStartup 5s ease-in-out forwards;
}

.hey-you-modal-close-btn,
.hey-you-request-apk-btn,
.hey-you-modal-github-btn {
  width: 50%;
  scale: 1.5;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
}

.hey-you-modal-close-btn {
  grid-column: 2 / 3;
  grid-row: 2;
  background-color: rgba(184, 184, 184, 0.735);
  color: rgb(0, 0, 0);
}

.hey-you-request-apk-btn {
  grid-column: 3 / 4;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
}

.hey-you-modal-github-btn {
  grid-column: 5;
  grid-row: 2;
  background-color: rgba(0, 255, 195, 0.795);
  color: snow;
}
