/*==========================
  HEADER 
  grid
============================*/

.bard-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  height: 10%;
  border: solid 1px rgb(25, 25, 25);
  background-color: rgb(0, 0, 0);
}

.bard-modal-header .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 69px;
  color: rgb(255, 255, 255);
}

.bard-modal-header-text-two {
  color: rgb(255, 255, 255);
  margin: 30px;
  font-size: 33px;
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-style: normal;
}

.bard-modal-header .btn-close {
  scale: 1.5;
  background-color: rgb(255, 255, 255);
  grid-column: 3;
}

/*==========================
        BODY MAIN 
============================*/

.bard-modal-body-main {
  background-color: rgb(255, 255, 255);
  padding: 0px;
}

.bard-modal-main-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/*==========================
        INTRO PAGE
        grid 
============================*/

.bard-modal-intro-page-one-container {
  order: 1;
  flex: 0 0 auto;
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgb(0, 0, 0);
  z-index: 2;
  // background-blend-mode: multiply;
}

.bard-modal-intro-text {
  // transform: perspective(200px) scale(1) rotateY(-8deg) translate(0px, 0px);
  // transform-style: preserve-3d;
  grid-column: 1 / 9;
  grid-row: 1 / 9;
  color: rgb(255, 255, 255);
  font-size: 55px;
  // white-space: nowrap;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  // letter-spacing: 1px;
  text-align: center;
  z-index: 4;
}


// .bard-modal-header-sub-text-container {
//   grid-column: 4 / 7;
//   width: 100%;
//   position: sticky;
// }

// .bard-modal-header-sub-text {
//   background-color: red;
//   color: rgb(255, 255, 255);
//   display: inline-block;
//   border-radius: 22px;
//   padding: 1%;
// }

// .bard-modal-info {
//   grid-column: 4 / 10;
//   grid-row: 5 / 9;
//   border: solid 1px rgb(255, 255, 255);
//   background-color: rgb(255, 255, 255);
//   color: rgb(0, 0, 0);
//   box-shadow: rgb(207, 84, 1) 0px 0px 100px;
// }

/*==========================
  CURTAIN grid
============================*/

.curtain-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1 / 9;
  grid-row: 1 / 9;
  background-color: rgb(255, 0, 0);
  box-shadow: rgb(255, 0, 0) 0px 0px 10px 10px;
  background-blend-mode: multiply;
  // animation: stageLeftCurtain 7s ease-in-out forwards;
}

.bard-modal-intro-text,
.curtain-shadow-two-container,
.curtain-shadow-three-container,
.curtain-shadow-four-container,
.curtain-shadow-five-container,
.curtain-shadow-six-container,
.curtain-shadow-seven-container,
.curtain-shadow-eight-container,
.curtain-shadow-nine-container,
.curtain-shadow-ten-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curtain-shadow-one,
.curtain-shadow-two,
.curtain-shadow-three,
.curtain-shadow-four,
.curtain-shadow-five,
.curtain-shadow-six,
.curtain-shadow-seven,
.curtain-shadow-eight,
.curtain-shadow-nine,
.curtain-shadow-ten {
  padding: 5px 26px 79vh 5px;
}

.curtain-shadow-one-container {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 20%;
}

.curtain-shadow-one {
  box-shadow: rgba(0, 0, 0, 0.689) 0px 0px 60px 70px;
  background-color: rgba(0, 0, 0, 0.685);
}

.curtain-shadow-two-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.curtain-shadow-two {
  background-color: rgba(0, 0, 0, 0.84);
  box-shadow: rgba(0, 0, 0, 0.849) 0px 0px 60px 70px;
}

.curtain-shadow-three-container {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.curtain-shadow-three {
  box-shadow: rgba(0, 0, 0, 0.689) 0px 0px 60px 70px;
  background-color: rgba(0, 0, 0, 0.685);
}

.curtain-shadow-four-container {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.curtain-shadow-four {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-five-container {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}

.curtain-shadow-five {
  background-color: rgba(0, 0, 0, 0.781);
  box-shadow: rgba(0, 0, 0, 0.781) 0px 0px 60px 70px;
}

.curtain-shadow-six-container {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.curtain-shadow-six {
  background-color: rgba(0, 0, 0, 0.667);
  box-shadow: rgba(0, 0, 0, 0.667) 0px 0px 60px 70px;
}

.curtain-shadow-seven-container {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}

.curtain-shadow-seven {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-eight-container {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
}

.curtain-shadow-eight {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-nine-container {
  grid-column: 8 / 10;
  grid-row: 1 / 2;
}

.curtain-shadow-nine {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 70px;
}

.curtain-shadow-ten-container {
  grid-column: 10;
  grid-row: 1 / 2;
}

.curtain-shadow-ten {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 60px 70px;
}

/*==========================
        PAGE 2
/*==========================*/

.bard-modal-page-two-container {
  order: 2;
  flex: 0 0 auto;
  height: 82vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: red;
  box-shadow: black 0px 0px 60px 70px inset;
  // z-index: 2;
  // background-color: rgb(0, 0, 0);
  // background-blend-mode: multiply;
  // transform: perspective(100px);
}


/*==========================
        PAGE 3
/*==========================*/

.bard-modal-page-three-container {
  order: 3;
  flex: 0 0 auto;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: red;
  box-shadow: black 0px 0px 60px 70px inset;
  // z-index: 2;
  // background-color: rgb(0, 0, 0);
  // background-blend-mode: multiply;
  // transform: perspective(100px);
}

.bard-modal-intro,
.bard-modal-intro-top,
.bard-modal-folger-logo-container,
.bard-modal-mit-logo-container,
.bard-modal-api-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .bard-modal-intro-top {

//   border: solid 1px rgb(255, 0, 0);
//   background-color: rgb(255, 0, 0);
//   // box-shadow: rgb(164, 164, 164) 0px 0px 60px 70px;
//   transform: perspective(100px) translateZ(100px) scale(8) rotateY(2deg)
//   rotateX(-15deg) rotateZ(10deg) translate(2px, 10px);
//   z-index: 5;
// }

.bard-modal-folger-logo-container {
  grid-column: 1 / 5;
  grid-row: 1 / 7;
}

.folger-logo {
  scale: 0.3;
  // box-shadow: rgba(145, 145, 145, 0.61) 0px 0px 30px 70px;
}

.bard-modal-mit-logo-container {
  grid-column: 1 / 5;
  grid-row: 3 / 10;
}

.mit-logo {
  scale: 0.4;
  // box-shadow: rgba(145, 145, 145, 0.61) 0px 0px 30px 70px;
}

.bard-modal-api-text-container {
  grid-column: 5 / 8;
  grid-row: 1 / 10;
}

.bard-modal-api-text {
  color: rgb(255, 255, 255);
  padding: 3%;
  text-align: center;
  font-size: 40px;
  // scale: .5;
}

/*==========================
        PAGE 4
/*==========================*/

.bard-modal-page-four-container {
  order: 4;
  flex: 0 0 auto;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgb(50, 50, 50);
  border: solid 1px rgb(0, 0, 0);
  box-shadow: rgb(19, 19, 19) 0px 0px 60px 100px inset;
  // transform: perspective(100px) translateZ(100px) scale(5) rotateY(2deg);
}

.bard-modal-firebase-text-container {
  grid-column: 1 / 9;
  grid-row: 1 / 10;
}

.bard-modal-firebase-text {

  color: rgb(255, 255, 255);
  padding: 3%;
  text-align: center;
  font-size: 40px;
  // scale: .5;
}

/*==========================
        FOOTER  
        grid
============================*/

.bard-modal-footer {
  display: grid;
  height: 10%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(92, 46, 0);
  border: solid 1px rgb(91, 76, 0);
}

.bard-modal-close-btn,
.bard-apk-download-btn,
.bard-modal-github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  scale: 1.5;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
}

.bard-modal-close-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}

.bard-apk-download-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: rgb(122, 35, 0);
}

.bard-modal-github-btn {
  grid-column: 5;
  grid-row: 1 / 4;
  background-color: rgb(91, 0, 0);
}
