/*=========================
  MAIN
  /*===========================*/

.this-portfolio-modal-body-main {
  background-color: rgb(0, 0, 0);
  padding: 0px;
}

.this-portfolio-main-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/*==========================
  PAGE 1
  /*===========================*/

.this-portfolio-page-one {
  order: 1;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: rgb(255, 255, 255);
  background-blend-mode: multiply;
}

.this-portfolio-modal-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.this-portfolio-modal-info-container {
  grid-column: 1 / -1;
  grid-row: auto;
  padding: 5vh 10vw 5vh 10vw;
}

.this-portfolio-modal-info {
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-family: "Montserrat", serif;
  font-weight: 100;
  font-style: normal;
  text-align: justify;
  font-optical-sizing: auto;

  line-height: 1.7;
}

/*==========================
  PAGE 2
  /*===========================*/
.this-portfolio-page-two {
  order: 2;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  background-color: rgb(112, 112, 112);
  gap: 4vh;
}

.grid-title-text-container,
.grid-paragraph-container,
.grid-image-hey-you-container,
.curtain-grid-image-container,
.hey-you-grid-code-container,
.curtain-grid-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-title-text {
  color: rgb(0, 0, 0);
  font-size: 15vw;
  font-family: "Montserrat", serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.grid-title-text-container {
  grid-column: 1 / -1;
  grid-row: auto;
}

.grid-paragraph-container {
  grid-column: 1 / -1;
  grid-row: auto;
  padding: 5vh 20vw 5vh 20vw;
}

.grid-paragraph {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  z-index: 22;
  text-align: justify;
  line-height: 1.4;
}

.grid-image-hey-you-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  z-index: 21;
  transform: perspective(1500px) rotateY(10deg) translate(3vw, 0vh);
}

.hey-you-grid-code-container {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  transform: perspective(1500px) rotateY(20deg) translate(-2vw, 0vh);
  z-index: 20;
}

.hey-you-grid-code {
  width: 50vw;
  height: auto;
}

.grid-image-hey-you {
  width: 50vw;
  height: auto;
}

.curtain-grid-image-container {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  transform: perspective(2000px) rotateY(-25deg) translate(10vw, 0vh);
}

.curtain-grid-image {
  width: 50vw;
  height: auto;
}

.curtain-grid-code-container {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  transform: perspective(1500px) rotateY(-15deg) translate(-10vw, 0vh);
}

.curtain-grid-code {
  width: 20vw;
  height: auto;
}

@media (max-width: 1000px) {
  .hey-you-grid-code-container {
    grid-column: 1 / -1;
  }
  .grid-image-hey-you-container {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .curtain-grid-image-container {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }
  .curtain-grid-code-container {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
  }
  .curtain-grid-code-container,
  .hey-you-grid-code-container,
  .grid-image-hey-you-container,
  .curtain-grid-image-container {
    transform: perspective(0px) rotateY(0deg);
  }

  .curtain-grid-code,
  .hey-you-grid-code,
  .grid-image-hey-you,
  .curtain-grid-image {
    width: 80vw;
    height: auto;
  }
}

/*==========================
  PAGE 3
  /*===========================*/

.this-portfolio-page-three {
  order: 3;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(255, 255, 255);
  gap: 4vh;
}

.css-animation-title-text-container,
.css-animation-paragraph-container,
.whale-keyframes-image-hey-you-container,
.animation-whale-hey-you-container,
.splash-keyframes-image-hey-you-container,
.animation-splash-hey-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: auto;
  grid-row: auto;
}

.css-animation-title-text-container {
  padding: 5vh 5vw 5vh 5vw;
}

.css-animation-title-text {
  color: rgb(0, 0, 0);
  font-size: 11vw;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}

.css-animation-paragraph-container {
  padding: 10vh 10vw 10vh 10vw;
}

.css-animation-paragraph {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  line-height: 1.4;
}

.animation-whale-hey-you,
.splash-keyframes-image-hey-you,
.animation-splash-hey-you,
.whale-keyframes-image-hey-you {
  width: 100vw;
  height: auto;
}

@media (max-width: 900px) {
  .animation-whale-hey-you,
  .splash-keyframes-image-hey-you,
  .animation-splash-hey-you,
  .whale-keyframes-image-hey-you {
    width: 100vw;
  }
}

/*==========================
  PAGE 4
  /*===========================*/
.this-portfolio-page-four {
  order: 4;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(17, 0, 255);
}

.three-dee-implementation-title-text-container,
.three-dee-paragraph-container,
.use-effect-image-container,
.resume-canvas-image-container,
.logo-canvas-image-container,
.logo-model-image-container,
.resume-model-image-container,
.fiber-container,
.blender-logo-container,
.design-one-container,
.design-two-container,
.design-three-container,
.design-four-container,
.design-five-container,
.design-six-container,
.phone-blender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: auto;
  grid-row: auto;
}

.three-dee-implementation-title-text-container {
  grid-row: 1 / 2;
  z-index: 5;

  padding: 10vh 5vw 10vh 5vw;
}

.three-dee-implementation-title-text {
  color: rgb(94, 255, 0);
  font-size: 11vw;
  font-family: "Montserrat", serif;
  font-weight: 100;
  font-style: normal;
  text-shadow: rgb(255, 0, 0) 10px 10px 1px;
}

.three-dee-paragraph-container {
  grid-row: 2 / 3;
  padding: 10vh 15vw 20vh 15vw;
  z-index: 5;
}

.three-dee-paragraph {
  color: rgb(255, 255, 255);
  font-size: 33px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  line-height: 1.5;
}

.use-effect-image-container {
  grid-row: 5 / 6;
  z-index: 8;
}

.use-effect-image {
  width: 30vw;
  height: auto;
}

.resume-canvas-image-container {
  grid-row: 6 / 7;

  z-index: 2;
}

.resume-canvas-image {
  width: 30vw;
  height: auto;
}

.logo-canvas-image-container {
  grid-row: 7 / 8;

  z-index: 2;
}

.logo-canvas-image {
  width: 30vw;
  height: auto;
}

.logo-model-image-container {
  grid-row: 8 / 9;
  z-index: 2;
}

.logo-model-image,
.resume-model-image,
.phone-blender {
  width: 100vw;
  height: auto;
}

.resume-model-image-container {
  grid-row: 10 / 11;
  z-index: 2;
}

.fiber-container {
  grid-row: 3 / 4;
  z-index: 3;
}

.fiber {
  width: 40vw;
  height: auto;
  padding: 50px;
}

.blender-logo-container {
  grid-row: 4 / 5;

  z-index: 4;
}

.blender-logo {
  width: 50vw;
  height: auto;
}

.phone-blender-container {
  grid-row: 9 / 10;
}

.design-one-container {
  grid-row: 3 / 5;
  z-index: 1;
  animation: designOne 33s ease-in-out infinite;
}

.design-one {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 10vw;
  aspect-ratio: 1 / 1;
  height: auto;
  animation: designOneShadow 10s ease-in-out infinite;
}

.design-three-container {
  grid-row: auto;
  grid-column: auto;
  z-index: 1;
  transform-origin: 0% 0%;
  border-radius: 1vw;
  box-shadow: rgb(255, 255, 255) 0px 0px 100px 10px;
  background-color: rgb(255, 255, 255);
  animation: designThree 8s cubic-bezier(0.19, 0.175, 0.165, 5) infinite;
}

.use-effect-image,
.resume-canvas-image,
.logo-canvas-image,
.logo-model-image,
.phone-blender {
  margin-bottom: 5vh;
}

@media (max-width: 1600px) {
  .use-effect-image,
  .blender-logo,
  .fiber,
  .resume-canvas-image,
  .logo-canvas-image,
  .logo-model-image,
  .resume-model-image,
  .phone-blender {
    width: 100vw;
    height: auto;
  }
}

/*==========================
  PAGE 5
  /*===========================*/

.this-portfolio-page-five {
  order: 5;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(255, 251, 0);
  gap: 1vh;
}

.java-script-title-text-container,
.java-script-progress-paragraph-one-container,
.java-script-progress-paragraph-two-container,
.java-script-progress-paragraph-three-container,
.java-script-scroll-paragraph-one-container,
.java-script-scroll-paragraph-two-container,
.java-script-scroll-paragraph-three-container,
.progress-one-image-container,
.progress-two-image-container,
.horizontal-scroll-image-container,
.lazy-load-info-container,
.lazy-load-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.java-script-title-text {
  color: rgb(0, 0, 0);
  font-size: 15vw;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}
.java-script-title-text-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 5vh 0vw 5vh 0vw;
}

.java-script-progress-paragraph-one-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.progress-one-image-container {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.java-script-progress-paragraph-two-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.progress-two-image-container {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.java-script-progress-paragraph-three-container {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.java-script-progress-paragraph-one,
.java-script-progress-paragraph-two,
.java-script-progress-paragraph-three,
.java-script-scroll-paragraph-one,
.java-script-scroll-paragraph-two,
.java-script-scroll-paragraph-three,
.lazy-load-info {
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  text-align: justify;
  padding: 100px;
}

.java-script-scroll-paragraph-one-container {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.java-script-scroll-paragraph-two-container {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.java-script-scroll-paragraph-three-container {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

.horizontal-scroll-image-container {
  grid-column: 2 / 3;
  grid-row: 5 / 8;
}

.lazy-load-info-container {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}

.lazy-load-code-container {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}
.horizontal-scroll-image,
.progress-one-image,
.progress-two-image,
.lazy-load-code {
  width: 35vw;
  height: auto;
}
.horizontal-scroll-image,
.progress-one-image,
.progress-two-image,
.lazy-load-code {
  width: 50vw;
  height: auto;
}

@media (max-width: 1000px) {
  .horizontal-scroll-image,
  .progress-one-image,
  .progress-two-image,
  .lazy-load-code {
    width: 100vw;
    height: auto;
  }

  .this-portfolio-page-five {
    gap: 1vh;
  }
  .java-script-title-text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .lazy-load-info-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .lazy-load-code-container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .java-script-progress-paragraph-three-container {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .java-script-progress-paragraph-one-container {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .java-script-progress-paragraph-two-container {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }

  .progress-one-image-container {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }

  .progress-two-image-container {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }

  .java-script-scroll-paragraph-one-container {
    grid-column: 1 / 3;
    grid-row: 9 / 10;
  }

  .java-script-scroll-paragraph-two-container {
    grid-column: 1 / 3;
    grid-row: 11 / 12;
  }

  .java-script-scroll-paragraph-three-container {
    grid-column: 1 / 3;
    grid-row: 12 / 13;
  }

  .horizontal-scroll-image-container {
    grid-column: 1 / 3;
    grid-row: 13 / 14;
  }
}

/*==========================
  PAGE 6
  /*===========================*/

.this-portfolio-page-six {
  order: 6;
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(255, 0, 0);
}

.this-portfolio-firebase-info-container,
.this-portfolio-firebase-title-container,
.this-portfolio-firebase-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: auto;
}

.this-portfolio-firebase-title-container {
  padding: 5vh 0vw 5vh 0vw;
}

.this-portfolio-firebase-title {
  color: rgb(255, 255, 255);
  font-size: 15vw;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.this-portfolio-firebase-info-container {
  padding: 5vh 0vw 5vh 0vw;
}

.this-portfolio-firebase-info {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.this-portfolio-firebase-logo-container {
  grid-column: 1 / 5;
  grid-row: 3 / 5;
}

.this-portfolio-firebase-logo {
  width: 10vw;
  height: auto;
}

@media (max-width: 1600px) {
  .this-portfolio-firebase-info,
  .java-script-progress-paragraph-one,
  .java-script-progress-paragraph-two,
  .java-script-progress-paragraph-three,
  .java-script-scroll-paragraph-one,
  .java-script-scroll-paragraph-two,
  .java-script-scroll-paragraph-three,
  .lazy-load-info,
  .three-dee-paragraph,
  .css-animation-paragraph,
  .grid-paragraph,
  .this-portfolio-modal-info {
    font-size: 38px;
  }
}
@media (max-width: 1200px) {
  .this-portfolio-firebase-info,
  .java-script-progress-paragraph-one,
  .java-script-progress-paragraph-two,
  .java-script-progress-paragraph-three,
  .java-script-scroll-paragraph-one,
  .java-script-scroll-paragraph-two,
  .java-script-scroll-paragraph-three,
  .lazy-load-info,
  .three-dee-paragraph,
  .css-animation-paragraph,
  .grid-paragraph,
  .this-portfolio-modal-info {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .this-portfolio-firebase-info,
  .java-script-progress-paragraph-one,
  .java-script-progress-paragraph-two,
  .java-script-progress-paragraph-three,
  .java-script-scroll-paragraph-one,
  .java-script-scroll-paragraph-two,
  .java-script-scroll-paragraph-three,
  .lazy-load-info,
  .three-dee-paragraph,
  .css-animation-paragraph,
  .grid-paragraph,
  .this-portfolio-modal-info {
    padding: 23px;
  }
}

@media (max-width: 500px) {
  .this-portfolio-firebase-info,
  .java-script-progress-paragraph-one,
  .java-script-progress-paragraph-two,
  .java-script-progress-paragraph-three,
  .java-script-scroll-paragraph-one,
  .java-script-scroll-paragraph-two,
  .java-script-scroll-paragraph-three,
  .lazy-load-info,
  .three-dee-paragraph,
  .css-animation-paragraph,
  .grid-paragraph,
  .this-portfolio-modal-info {
    font-size: 18px;
  }
}
