// .hey-you-modal-main-div {
//   overflow: hidden;
//   width: 100vw;
//   height: 100vh;
// }

.hey-you-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  z-index: 3;
  height: 10%;
  background-color: rgb(0, 225, 255);
  transform-origin: 10% 0%;
  box-shadow: rgb(0, 157, 255) 0px 0px 700px;
  animation: heyYouModalHeaderStartup 5s ease-in-out forwards;
}

.hey-you-modal-header .modal-title {
  grid-column: 2;
  grid-row: 1 / 3;
  font-size: 69px;
  color: rgb(255, 255, 255);
  animation: heyYouModalTitleStartup 5s ease-in-out forwards;
}

.hey-you-modal-header .btn-close {
  scale: 1.5;
  background-color: rgb(255, 255, 255);
  grid-column: 3;
}

// .hey-you-modal-body {
//   display: flex;
//   flex-direction: row;
//   height: 100%;
//   width: 100%;
//   overflow-x: scroll;
//   // max-width: 100%;
//   max-height: 100%;
//   margin: 0 auto;
//   scroll-behavior: smooth;
//   background-color: rgb(255, 255, 255);
//   background-blend-mode: multiply;
//   transform-origin: 0% 0%;
//   border-radius: 22px;
//   // animation: heyYouModalBodyStartup 5s ease-in-out forwards ;
// }

.hey-you-modal-body-main {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;

  background-color: rgb(255, 255, 255);
  // overflow: hidden;
}

.hey-you-horizontal-scroll {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.hey-you-main-title-container {
  flex: 0 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  order: 1;
  width: 100vw;
  // height: 100vh;
  display: grid;
}

.hey-you-modal-main-title {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 255, 255);
  text-shadow: rgb(69, 73, 73) 0px 100px 1000px;
  border-radius: 220px;
  font-size: 188px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  animation: heyYouModalMainTitleStartup 4s ease-in-out forwards infinite;
}

.hey-you-modal-tools-container {
  display: grid;
  grid-template-columns: repeat(10, 200px);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(165, 165, 165);
  flex: 0 0 auto;
  order: 2;
  z-index: 3;
}

.hey-you-modal-bg-container {
  background-color: rgb(255, 255, 255);
  grid-column: 3 / 9;
  grid-row: 1 / 11;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  
}
.hey-you-modal-backend-container {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.hey-you-modal-real-time-container {
  grid-column: 6 / 8;
  grid-row: 3 / 4;
}

.hey-you-modal-containerization-container {
  grid-column: 4 / 6;
  grid-row: 4 / 5;
}

.hey-you-modal-frontend-container {
  grid-column: 6 / 8;
  grid-row: 5 / 6;
}

.hey-you-modal-location-services-container {
  grid-column: 4 / 6;
  grid-row: 6 / 7;
}

.hey-you-modal-access-key-container {
  grid-column: 6 / 8;
  grid-row: 7 / 8;
}

.hey-you-modal-ibrahim-container {
  grid-column: 4 / 6;
  grid-row: 8 / 9;
}

.hey-you-modal-backend-text,
.hey-you-modal-real-time-text,
.hey-you-modal-containerization-text,
.hey-you-modal-frontend-text,
.hey-you-modal-location-services-text,
.hey-you-modal-access-key-text,
.hey-you-modal-ibrahim-text {
  color: rgb(0, 0, 0);
  border-radius: 22px;
  font-size: 22px;
  background-color: rgba(230, 255, 1, 0.304);
  border: solid 1px rgb(255, 255, 255);
  padding: 2%;
  text-align: center;
  box-shadow: rgb(255, 255, 255) 0px 0px 2px;
}

.hey-you-modal-real-time-text,
.hey-you-modal-frontend-text,
.hey-you-modal-access-key-text {
  background-color: rgba(0, 157, 255, 0.304);
}

.hey-you-modal-tools {
  display: flex;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.js-logo-hey-you-container {
  grid-column: 5;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  // width: 100%;
  z-index: 3;
  // animation: jsHeyYouModalLogoCyclical 5s ease-in-out forwards infinite;
}

.js-logo-hey-you,
.docker-logo-hey-you {
  width: 50%;
  // height: 100%;
}

.docker-logo-hey-you-container {
  grid-column: 5;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  z-index: 3;
  // animation: jsHeyYouModalLogoCyclical 5s ease-in-out forwards infinite;
}

.hey-you-modal-footer {
  display: grid;
  height: 10%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(0, 225, 255);
  border: solid 1px rgb(0, 0, 0);
  transform-origin: -100% -100%;
  box-shadow: rgb(0, 106, 255) 0px 0px 20px;
  animation: heyYouModalFooterStartup 5s ease-in-out forwards;
}

.hey-you-modal-close-btn,
.hey-you-request-apk-btn,
.hey-you-modal-github-btn {
  width: 50%;
  scale: 1.5;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
}

.hey-you-modal-close-btn {
  grid-column: 2 / 3;
  grid-row: 2;
  background-color: rgba(255, 0, 0, 0.735);
  color: rgb(0, 0, 0);
}

.hey-you-request-apk-btn {
  grid-column: 3 / 4;
  grid-row: 2;
  background-color: rgb(0, 255, 21);
}

.hey-you-modal-github-btn {
  grid-column: 5;
  grid-row: 2;
  background-color: rgb(0, 68, 255);
  color: snow;
}
