/* ================================== *

               MAIN GRID         
/* ================================== */

.projects-div-main {
  display: grid;
  grid-template-areas:
    'a a'
    'x x'
    'b c'
    'd e'
    'f g'
    'h h'
    'i i'
    'j j'
    'k k'


  ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 50px;
  
  width: auto;
  height: 100vh;
  // background-image: url(../images/static1.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  // background-color: rgb(0, 6, 58);
  animation: projectsPageBgStartUp 5s ease-in-out forwards;
  overflow-x: hidden;
  // overflow-y: hidden;

}


/* ================================== *
  NAVBAR
/* ================================== */


.nav-div-main {
  grid-area: a;
  display: grid;
  grid-template-areas:
    'pages info'

  ;

  width: 100%;
  // padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  // border-radius: 53px 53px 0px 0px;
  background-color: snow;
  border-bottom: solid rgba(0, 0, 0, 0.068) 0.01px;
  // box-shadow: 0px 0px 100px rgb(255, 217, 0);
  animation: navDivStartup 3s ease-in-out;
  margin-bottom: 100px;
  position:fixed;
  z-index: 100;
}

.sky {
  grid-area: x;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: snow;
  box-shadow: snow 0px 0px 150px;
  height: 0px;
}

.snow {

  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: snow 0px 0px 20px;
  border-radius: 50%;

  // animation: snow 11s infinite;

}

@keyframes snow {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  20% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(1700px);
    opacity: 0;
  }
}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn,
.nav-linkedin-btn,
.nav-github-btn,
.nav-gmail-btn,
.social-container,
.pages-container,
.profile-div-main,
.image-div-main,
.profile-image {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn {
  font-size: 1vw;
  color: #d6d6d6;
  // text-shadow: 	#8A2BE2 0px 0px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: normal;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  // display: inline;
}

// .profile-image {
//   cursor: pointer;
// }

.nav-home-btn:hover,
.nav-resume-btn:hover,
.nav-three-dee-resume-btn:hover,
.profile-image:hover {
// scale: 1.001;
  color: rgb(0, 0, 0);
    // box-shadow: #7a7a7a 0px 0px 0px 1px;
    cursor: pointer;
}
.nav-linkedin-btn:hover
 {
  color: #0077B5;
}

.nav-github-btn:hover {
  color: rgb(187, 187, 187);
  background-color: rgb(255, 255, 255);
}

.gg:hover {
  color: rgb(51, 116, 255);
}

.gm:hover {
  color: rgb(255, 0, 0);
}

.ga:hover {
  color: rgb(255, 221, 0);
}

.gi:hover {
  color: rgb(14, 91, 255);
}

.gl:hover {
  color: rgb(13, 193, 0);
}

// .nav-home-btn {
//   grid-area: home;
// }

// .nav-resume-btn {
//   grid-area: resume;
// }

// .nav-three-dee-resume-btn {
//   grid-area: pro;
// }

.pages-container {
  grid-area: pages;
  flex-direction: row;
}

.social-container {
  grid-area: info;
  flex-direction: row;
}

.nav-home-btn,
.nav-resume-btn,
.nav-three-dee-resume-btn,
.nav-gmail-btn,
.nav-linkedin-btn,
.nav-github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  font-size: 0.7vw;
  color: #797979;
  // text-shadow: 	#8A2BE2 0px 0px 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

// .profile-div-main {
//   grid-area: info;
// }


.image-div-main {
  grid-area: info;
  padding: 1vw;
}

.profile-image {
  width: 2vw;
  height: auto;
  border-radius: 50%;
}

.profile-div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ibrahim-karim,
.location,
.phone {
  font-size: 0.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  // text-shadow: black 1px 1px 2px;
  text-decoration: none;
  cursor: default;
}

/* ================================== *
  PROJECTS
/* ================================== */


.whacka-div-main,
.bard-div-main,
.krispy-div-main,
.hey-you-div-main,
.this-portfolio-div-main,
.kanban-div-main {
  display: grid;
  grid-template-areas:
    'title'
    'tech'
    'des'
  ;
  // grid-template-columns: 30vw 40vw 30vw;
  // height: 40vh;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  padding: 0px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 18px;

  // box-shadow:  rgb(126, 126, 126) 10px 10px 50px;
  background-color: rgba(0, 0, 0, 0.041);
  backdrop-filter: blur(11px);
  // border: black solid 1px;
}

.whacka-div-main {
    background-color: rgba(255, 0, 0, 0.070);
}

.this-portfolio-div-main {
  background-color: rgba(17, 0, 255, 0.07);
}

.krispy-div-main {
  background-color: rgba(255, 0, 234, 0.096);
}
.hey-you-div-main {
  background-color: rgba(0, 204, 255, 0.07);
}

.bard-div-main {
  background-color: rgba(255, 94, 0, 0.07);
}

.kanban-div-main {
  background-color: rgba(0, 0, 0, 0.315);
}


.whacka-div-main:hover,
.bard-div-main:hover,
.krispy-div-main:hover,
.hey-you-div-main:hover,
.this-portfolio-div-main:hover,
.kanban-div-main:hover {
  scale: 1.02;
  // box-shadow: rgba(0, 0, 0, 0.397) 0px 0px 10px 10px;
  z-index: 22;

}

.this-portfolio-div-main {
  grid-area: b;
  animation: projectDivStartup 6s ease-in-out forwards;
  // border: rgb(0, 76, 255) solid 1px;
  border-radius: 10px;
}


.whacka-div-main {
  grid-area: c;
  pointer-events: auto;
  animation: projectDivStartup 5s ease-in-out forwards;
  // border: red solid 1px;
  border-radius: 10px;
}


.krispy-div-main {
  grid-area: d;
  animation: projectDivStartup 4s ease-in-out forwards;
  // border: pink solid 1px;
  border-radius: 10px;
}

.hey-you-div-main {
  grid-area: e;
  animation: projectDivStartup 3s ease-in-out forwards;
  // border: aqua solid 1px;
  border-radius: 10px;
}

.bard-div-main {
  grid-area: f;
  animation: projectDivStartup 2s ease-in-out forwards;
  // border: rgb(189, 85, 0) solid 1px;
  border-radius: 10px;
}

.kanban-div-main {
  grid-area: g;
  animation: projectDivStartup 1s ease-in-out forwards;
  // border: rgb(0, 105, 243) solid 1px;
  border-radius: 10px;

}


.whacka-text,
.whacka-description-text,
.krispy-text,
.krispy-description-text,
.hey-you-text,
.hey-you-description-text,
.bard-text,
.bard-description-text,
.this-portfolio-text,
.this-portfolio-description-text,
.kanban-text,
.kanban-description-text {
  text-wrap: nowrap;
  letter-spacing: 2px;
  // background-color: #000000;
  // border-radius: 11px;
  // padding: 5px;
}

.whacka-software-text-container,
.krispy-software-text-container,
.hey-you-software-text-container,
.bard-software-text-container,
.this-portfolio-software-text-container,
.kanban-software-text-container {
  grid-area: tech;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  text-wrap: nowrap;
}

.whacka-js,
.whacka-html,
.whacka-scss,
.krispy-js,
.krispy-react,
.krispy-firebase,
.krispy-redux,
.krispy-bootstrap,
.krispy-scss,
.hey-you-js,
.hey-you-react,
.hey-you-studio,
.hey-you-socketio,
.hey-you-mongodb,
.hey-you-nodejs,
.hey-you-docker,
.hey-you-googlecloud,
.bard-js,
.bard-react-native,
.bard-studio,
.bard-redux,
.bard-firebase,
.bard-firestore,
.this-portfolio-js,
.this-portfolio-react,
.this-portfolio-react-fiber,
.this-portfolio-firebase,
.this-portfolio-scss,
.this-portfolio-blender,
.kanban-js,
.kanban-react,
.kanban-scss,
.kanban-firebase,
.kanban-firestore {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.1vw;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  // background-color: rgb(0, 0, 0);
  // box-shadow: black 0px 0px 10px;
  // padding: 5px;
  // border-radius: 11px;
  // text-shadow: black 0px 0px 2px;
}




.whacka-description-text,
.krispy-description-text,
.hey-you-description-text,
.bard-description-text,
.this-portfolio-description-text,
.kanban-description-text {
  grid-area: des;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);

}



.whacka-text,
.krispy-text,
.hey-you-text,
.bard-text,
.this-portfolio-text,
.kanban-text {
  grid-area: title;
  font-size: 5vw;

}


.whacka-text {
  font-size: 5vw;
  font-family: "Bangers", system-ui;
  font-weight: 800;
  font-style: normal;
  color: red;
  text-shadow: black 1px 0px 1px;

}

.krispy-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: pink;
  text-shadow: black 1px 0px 1px;
}

.hey-you-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: aqua;
  text-shadow: black 1px 0px 1px;
}

.bard-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  color: rgb(189, 85, 0);
  text-shadow: black 1px 0px 1px;
}

.this-portfolio-text {
  color: rgb(0, 0, 0);
  font-family: "Cinzel", serif;
  font-weight: 800;
  color: rgb(0, 76, 255);
  text-shadow: black 1px 0px 1px;
  margin-top: 14px;
}


.kanban-text {
  color: rgb(0, 40, 91);
  font-family: "Cinzel", serif;
  font-weight: 800;
  text-shadow: black 1px 0px 1px;
}

.tuh-doo {
  color: rgb(0, 105, 243);
  margin-bottom: 140px;
}


.bard-js,
.kanban-js,
.krispy-js,
.whacka-js,
.hey-you-js,
.this-portfolio-js {
  color: yellow;
}

.kanban-react,
.krispy-react,
.this-portfolio-react,
.hey-you-react,
.bard-react-native {
  color: aqua;
}

.bard-firebase,
.kanban-firebase,
.krispy-firebase,
.this-portfolio-firebase,
.bard-firestore,
.kanban-firestore {
  color: rgb(255, 157, 0);
}

.kanban-scss,
.krispy-scss,
.whacka-scss,
.this-portfolio-scss {
  color: rgb(255, 63, 134);
}

.bard-redux,
.krispy-redux {
  color: rgb(179, 0, 255);
}

.hey-you-studio,
.bard-studio {
  color: rgb(4, 255, 0);
}

.this-portfolio-blender {
  color: rgb(138, 138, 255);
}

.whacka-html {
  color: rgb(255, 202, 103);
}

.krispy-bootstrap {
  color: rgb(186, 133, 255);
}

.hey-you-socketio {
  color: rgb(255, 255, 255);
}

.hey-you-mongodb {
  color: rgb(118, 255, 118);
}

.hey-you-nodejs {
  color: green;
}

.hey-you-docker {
  color: rgb(0, 102, 255);
}


/*=========
FOOTER
=========*/
@keyframes FOOTER2 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes FOOTER1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes FOOTER {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes FOOTERmain {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0px);
  }
}

.above-footer2 {
  background-color: color-mix(in srgb, rgb(255, 255, 255, 0.95) 90%, rgba(255, 255, 255, 0.5) 10%);
  backdrop-filter: blur(11px);
  grid-area: h;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  animation: FOOTER2 3s infinite;
}

.above-footer1 {
  background-color: color-mix(in srgb, rgb(255, 255, 255, 0.95) 90%, rgba(255, 255, 255, 0.5) 10%);
  backdrop-filter: blur(11px);
  grid-area: i;
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 30px rgba(0, 200, 255, 0.463);
  animation: FOOTER1 5s infinite;
}

.above-footer {
  background-color: color-mix(in srgb, rgba(255, 255, 255, 0.957) 90%, rgba(255, 255, 255, 0.5) 10%);
  backdrop-filter: blur(100px);
  grid-area: j;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 0px 40px rgba(0, 200, 255, 0.463);
  animation: FOOTER 5s infinite;
}

.footer-div-main,
.socials-icons,
.pages-links,
.footer-div-main,
.projects-copyright-container,
.copyright-text {

  justify-content: center;
  align-items: center;
}

.footer-div-main {
  display: grid;
  grid-area: k;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'a'
    'b'
    'c'
  ;


  bottom: 0;
  z-index: 101;
  background-color: #fffffff0;
  padding: 100px;
  animation: navDivStartup 0.5s ease-in-out;
  box-shadow: 0px 0px 70px rgba(0, 200, 255, 0.463);
  animation: FOOTERmain 5s infinite;
}

.socials-icons {
  grid-area: a;
  display: flex;
  gap: 10px;

}

.socials-icons a {
  text-decoration: none;
}

.instagram-link,
.github-link,
.linkedin-link,
.gmail-link,
.youtube-link {
  display: flex;
  font-size: 50px;
}

.instagram-link {
  color: #E1306C;
}

.github-link {
  color: #333;
}

.linkedin-link {
  color: #0077B5;
}

.gmail-link {
  color: #D44638;
}

.youtube-link {
  color: #FF0000;
}

.pages-links {
  display: flex;
  flex-direction: column;
  grid-area: b;
}

.pages-links a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin: 11px;
  transition: color 0.3s ease;
  font-family: 'Times New Roman' Merriweather;
}

.pages-links a:hover {
  color: #0077B5;
}

.home-link,
.resume-link,
.profile-link,
.megaracer-link {
  font-size: 30px;
}


.projects-copyright-container {
  display: flex;
  grid-area: c;
  margin-top: 70px;
}

.copyright-text {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/*========
MEDIA QUERIES
========*/

@media (max-width: 1400px) {
  .nav-div-main {
    grid-template-areas:
      'home home home home home'
      'resume resume resume resume resume'
      'pro pro pro pro pro'
      'info info info info info'
      'name name name name name'
      'im im im im im'
      's s s s s'

    ;
    grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(7, 1fr);

  }

  .profile-div-main {
    background-color: rgb(255, 255, 255);
  }

  .ibrahim-karim,
  .location {
    color: black;
  }

  .ibrahim-karim,
  .location,
  .phone,
  .nav-home-btn,
  .nav-resume-btn,
  .nav-three-dee-resume-btn,
  .nav-gmail-btn,
  .nav-linkedin-btn,
  .nav-github-btn {
    font-size: 5vw;
  }

  .profile-image {
    width: 12vw;
  }

  .projects-div-main {
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f'
      'g'
      'h'
      'i'
      'j'
      'k'
    ;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(8, 1fr);

  }

  .nav-div-main {
    grid-area: a;
  }

  .this-portfolio-div-main {
    grid-area: b;
  }

  .whacka-div-main {
    grid-area: c;
  }

  .krispy-div-main {
    grid-area: d;
  }

  .hey-you-div-main {
    grid-area: e;
  }

  .bard-div-main {
    grid-area: f;
  }

  .kanban-div-main {
    grid-area: g;
  }

  .above-footer2 {
    grid-area: h;
  }

  .above-footer1 {
    grid-area: i;
  }

  .above-footer {
    grid-area: j;
  }

  .copyright-text {
    grid-area: k;
  }


  .bard-description-text .whacka-div-main,
  .bard-div-main,
  .krispy-div-main,
  .hey-you-div-main,
  .this-portfolio-div-main,
  .kanban-div-main {
    width: 100vw;

  }

  .whacka-text,
  .whacka-description-text,
  .krispy-text,
  .krispy-description-text,
  .hey-you-text,
  .hey-you-description-text,
  .bard-text,
  .bard-description-text,
  .this-portfolio-text,
  .this-portfolio-description-text,
  .kanban-text,
  .kanban-description-text {
    font-size: 5vw;
  }

  .whacka-js,
  .whacka-html,
  .whacka-scss,
  .krispy-js,
  .krispy-react,
  .krispy-firebase,
  .krispy-redux,
  .krispy-bootstrap,
  .krispy-scss,
  .hey-you-js,
  .hey-you-react,
  .hey-you-socketio,
  .hey-you-mongodb,
  .hey-you-nodejs,
  .hey-you-docker,
  .hey-you-googlecloud,
  .bard-js,
  .bard-react-native,
  .bard-redux,
  .bard-firebase,
  .bard-firestore,
  .this-portfolio-js,
  .this-portfolio-react,
  .this-portfolio-react-fiber,
  .this-portfolio-firebase,
  .this-portfolio-scss,
  .this-portfolio-blender,
  .kanban-js,
  .kanban-react,
  .kanban-scss,
  .kanban-firebase,
  .kanban-firestore {
    font-size: 2.5vw;
  }

  @keyframes snow {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    20% {
      transform: translateY(0px);
      opacity: 1;
    }

    100% {
      transform: translateY(2000px);
      opacity: 0;
    }
  }

  .copyright-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
  }
}

@media (max-width: 1100px) {

  .tuh-doo {
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {

  .tuh-doo {
    margin-bottom: 20px;
  }
}