/*==========================
  HEADER 
  grid
============================*/

.this-portfolio-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  background-color: rgb(0, 94, 255);
  border: solid 1px rgb(0, 0, 0);
  height: 5%;
}

.this-portfolio-modal-header .modal-title {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  font-size: 44px;
  color: rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.this-portfolio-modal-header .btn-close {
  scale: 1;
  background-color: rgb(255, 255, 255);
  grid-column: 3;
  grid-row: 1 / 3;
}

/*==========================
  MAIN
  /*===========================*/

.this-portfolio-modal-body-main {
  background-color: rgb(0, 0, 0);
  padding: 0px;
}

.this-portfolio-main-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/*==========================
  PAGE 1
  /*===========================*/

.this-portfolio-page-one {
  order: 1;
  flex: 0 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(255, 255, 255);
  background-blend-mode: multiply;
}

.this-portfolio-modal-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.this-portfolio-modal-info-container {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.this-portfolio-modal-info {
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  text-align: start;
  font-optical-sizing: auto;
  padding: 300px;
}

/*==========================
  PAGE 2
  /*===========================*/
.this-portfolio-page-two {
  order: 2;
  flex: 0 0 auto;
  height: 350vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(255, 238, 0);
}

.grid-title-text-container,
.grid-paragraph-container,
.grid-image-hey-you-container,
.curtain-grid-image-container,
.hey-you-grid-code-container,
.curtain-grid-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-title-text {
  color: rgb(0, 0, 0);
  font-size: 100px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.grid-title-text-container {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.grid-paragraph-container {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  transform: translate(0px, 100px); 
}

.grid-paragraph {
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding: 400px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  z-index: 22;
}

.grid-image-hey-you-container {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  z-index: 21;
  transform: perspective(1500px) rotateY(30deg) translate(-100px, 20px);
}


.hey-you-grid-code-container {
  grid-column: 4 / 6;
  grid-row: 3 / 5;
  transform: perspective(1500px) rotateY(30deg) translate(100px, 20px);
  z-index: 20;
}

.hey-you-grid-code {
  scale: 0.6;
}



.grid-image-hey-you {
  scale: 0.7;
}

.curtain-grid-image-container {
  grid-column: 2 / 6;
  grid-row: 6 / 9;
  transform: perspective(2000px) rotateY(-25deg) translate(0px, 30px);

}

.curtain-grid-image {
  scale: 0.7;
  
}


.curtain-grid-code-container {
  grid-column: 1 / 3;
  grid-row: 6 / 10;
  transform: perspective(1500px) rotateY(-15deg) translate(0px, 30px);
}

.curtain-grid-code {
  scale: 0.7;
}

/*==========================
  PAGE 3
  /*===========================*/

.this-portfolio-page-three {
  order: 3;
  flex: 0 0 auto;
  height: 400vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background-color: rgb(255, 255, 255);
}

.css-animation-title-text-container,
.css-animation-paragraph-container,
.whale-keyframes-image-hey-you-container,
.animation-whale-hey-you-container,
.splash-keyframes-image-hey-you-container,
.animation-splash-hey-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-animation-title-text-container {
  grid-column: 3 / 11;
  grid-row: 1 / 2;
}

.css-animation-title-text {
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.css-animation-paragraph-container {
  grid-column: 2 / 12;
  grid-row: 1 / 4;
}

.css-animation-paragraph {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.whale-keyframes-image-hey-you-container {
  grid-column: 2 / 12;
  grid-row: 3 / 7;
}

.whale-keyframes-image-hey-you {
  scale: 0.6;
}

.animation-whale-hey-you-container {
  grid-column: 3 / 11;
  grid-row: 6 / 10;
}

.animation-whale-hey-you {
  scale: 0.7;
}

.splash-keyframes-image-hey-you-container {
  grid-column: 3 / 10;
  grid-row: 11 / 13;
  transform: translate(-23px, 0px);
}

.splash-keyframes-image-hey-you {
  scale: 0.6;
}

.animation-splash-hey-you-container {
  grid-column: 3 / 11;
  grid-row: 13 / 16;
}

.animation-splash-hey-you {
  scale: 0.7;
}

/*==========================
  PAGE 4
  /*===========================*/
.this-portfolio-page-four {
  order: 4;
  flex: 0 0 auto;
  height: 500vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background-color: rgb(17, 0, 255);
}

.three-dee-implementation-title-text-container,
.three-dee-paragraph-container,
.use-effect-image-container,
.resume-canvas-image-container,
.logo-canvas-image-container,
.logo-model-image-container,
.resume-model-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-dee-implementation-title-text-container {
  grid-column: 3 / 11;
  grid-row: 1 / 2;
}

.three-dee-implementation-title-text {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.three-dee-paragraph-container {
  grid-column: 2 / 10;
  grid-row: 1 / 4;
  transform: translate(0px, -70px);
}

.three-dee-paragraph {
  color: rgb(255, 255, 255);
  font-size: 33px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.use-effect-image-container {
  grid-column: 2 / 12;
  grid-row: 2 / 6;
  z-index: 33;
}

.use-effect-image {
  scale: 0.8;
}

.resume-canvas-image-container {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  transform: perspective(2000px) rotateY(40deg) translate(0px, 100px);
}

.resume-canvas-image {
  scale: 0.58;
}

.logo-canvas-image-container {
  grid-column: 8 / 13;
  grid-row: 2 / 6;
  transform: perspective(1500px) rotateY(-30deg) translate(0px, 0px);

}

.logo-canvas-image {
  scale: 0.63;
}

.logo-model-image-container {
  grid-column: 2 / 12;
  grid-row: 4 / 10;
}

.logo-model-image {
  scale: 0.9;
}

.resume-model-image-container {
  grid-column: 2 / 12;
  grid-row: 6 / 14;
  
}

.resume-model-image {
  scale: 0.9;
}

/*==========================
  PAGE 5
  /*===========================*/

.this-portfolio-page-five {
  order: 5;
  flex: 0 0 auto;
  height: 500%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background-color: rgb(255, 0, 255);
}

.java-script-title-text-container,
.java-script-progress-paragraph-one-container,
.java-script-progress-paragraph-two-container,
.java-script-progress-paragraph-three-container,
.java-script-scroll-paragraph-one-container,
.java-script-scroll-paragraph-two-container,
.java-script-scroll-paragraph-three-container,
.progress-one-image-container,
.progress-two-image-container,
.horizontal-scroll-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.java-script-title-text-container {
  grid-column: 3 / 11;
  grid-row: 1 / 2;
}

.java-script-title-text {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.java-script-progress-paragraph-one-container {
  grid-column: 2 / 12;
  grid-row: 1 / 4;
}
.java-script-progress-paragraph-two-container {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}
.progress-one-image-container {
  grid-column: 5 / 12;
  grid-row: 2 / 5;
}

.progress-one-image {
  scale: 0.75;
}


.java-script-progress-paragraph-three-container {
  grid-column: 2 / 12;
  grid-row: 3 / 7;
}
.progress-two-image-container {
  grid-column: 2 / 12;
  grid-row: 4 / 7;
}

.progress-two-image {
  scale: 0.75;
}

.java-script-progress-paragraph-one,
.java-script-progress-paragraph-two,
.java-script-progress-paragraph-three,
.java-script-scroll-paragraph-one,
.java-script-scroll-paragraph-two,
.java-script-scroll-paragraph-three {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}






.java-script-scroll-paragraph-one-container {
  grid-column: 2 / 12;
  grid-row: 5 / 8;
}
.java-script-scroll-paragraph-two-container {
  grid-column: 2 / 12;
  grid-row: 5 / 10;
}
.java-script-scroll-paragraph-three-container {
  grid-column: 2 / 12;
  grid-row: 6 / 11;
}


.horizontal-scroll-image-container {
  grid-column: 2 / 12;
  grid-row: 9 / 14;
}
.horizontal-scroll-image {
  scale: 0.75;
}

/*==========================
FOOOTER
============================*/

.this-portfolio-modal-footer {
  display: grid;
  height: 5%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(0, 94, 255);
  border: solid 1px rgb(0, 0, 0);
}

.this-portfolio-modal-close-btn,
.this-portfolio-site-btn,
.this-portfolio-modal-github-btn {
  width: 50%;
  scale: 1;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
}

.this-portfolio-modal-close-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}

.this-portfolio-site-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: rgb(255, 255, 255);
}

.this-portfolio-modal-github-btn {
  grid-column: 5;
  grid-row: 1 / 3;
  background-color: rgb(255, 255, 255);
}
