::-webkit-scrollbar {
    width: 22px;
    height: 22px;
    
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 39, 123, 0.685);
    border-radius: 0px 0px 27px 27px;
    

}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.598);
    border-radius: 7px;
    
}


::-webkit-scrollbar-thumb:hover {
    background-color: rgb(166, 255, 0);
}