/*====================
HEY YOU 
=====================*/

.hey-you-horizontal-scroll::-webkit-scrollbar {
  width: auto;
  height: 10px;
}

.hey-you-horizontal-scroll::-webkit-scrollbar-track {
  background-color: rgba(51, 51, 51, 0.434);
}

.hey-you-horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.hey-you-horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 255, 255);
}

/*====================
            BARD
=====================*/

.bard-modal-main-flex-container::-webkit-scrollbar {
  width: 0.2vw;
}

.bard-modal-main-flex-container::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

.bard-modal-main-flex-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.943);
  border-radius: 20px;
}

.bard-modal-main-flex-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 221, 0);
}

/*====================
KRISPY
=====================*/

.krispy-modal-flex-main::-webkit-scrollbar-button {
  background-color: rgb(112, 28, 176);
}

.krispy-modal-flex-main::-webkit-scrollbar-button:hover {
  background-color: rgb(0, 255, 13);
}

.krispy-modal-flex-main::-webkit-scrollbar {
  width: 15px;
  box-shadow: rgb(255, 0, 0) 0px 0px 10px 10px;
}

.krispy-modal-flex-main::-webkit-scrollbar-track {
  background-color: rgb(75, 0, 74);
}

.krispy-modal-flex-main::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 2px;
}

.krispy-modal-flex-main::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}

/*====================
WHACKA
=====================*/

.whacka-modal-flex-main::-webkit-scrollbar-button {
  background-color: rgb(8, 160, 255);
}

.whacka-modal-flex-main::-webkit-scrollbar-button:hover {
  background-color: rgb(0, 255, 13);
}

.whacka-modal-flex-main::-webkit-scrollbar {
  width: 0.8vw;
}

.whacka-modal-flex-main::-webkit-scrollbar-track {
  background-color: rgb(85, 50, 166);
}

.whacka-modal-flex-main::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  // box-shadow: rgb(47, 255, 0) 0px 0px 100px 100px;
}
.whacka-modal-flex-main::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 4, 255);
}
