/*====================
HEY YOU 
=====================*/

.hey-you-horizontal-scroll::-webkit-scrollbar {
    width: 22px;
    height: 22px;
    
}

.hey-you-horizontal-scroll::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0.434);
    border-radius: 0px 0px 27px 27px;
    

}

.hey-you-horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 0px 0px 27px 27px;
    
}


.hey-you-horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(166, 255, 0);
}


/*====================
            BARD
=====================*/


.bard-modal-main-flex-container::-webkit-scrollbar {
    width: 15px;
}

.bard-modal-main-flex-container::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    // border-radius: 0px 0px 27px 27px;
}

.bard-modal-main-flex-container::-webkit-scrollbar-thumb {
    background-color: rgba(137, 0, 0, 0.342);
    // border-radius: 0px 0px 27px 27px;
}

.bard-modal-main-flex-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0);
}

