.blender-environment {
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
}

.orbit-instructions {
 background-color: rgba(255, 255, 255, 0.8);
  border-radius: 33px;
  padding: 20px;
  position: relative;
  top: -550px;
  right: -550px;
  display: inline-block;
  z-index: 2;
  font-size: 22px;
  color: red
}
